In [1]:
import numpy as np
import pandas as pd
import os

def my_strip(my_str):
    return my_str.strip()
vstrip = np.vectorize(my_strip)


def vStr2Percent(my_str):
    return float(my_str.replace("%","").strip())


def my_list_joiner(listy,seperator=','):
    return seperator.join(listy)
 
    
def my_spliter(my_array):
    for i in range(len(my_array)):
        my_array[i].split()
vspliter = np.vectorize(my_spliter)

def joiner(dws):
    new_dws = []
    results = ','
    for i in dws:
        if 'more credits' in i :
            pass
        elif 'See full cast & crew' in i:
            pass
        else:
            new_dws.append(i)
    return ','.join(new_dws)

def my_spliter(my_array):
    final_array = []
    for i in range(len(my_array)):
        if (my_array[i] != '-'):
            final_array.append(my_array[i].split())
        elif (my_array[i] == '-'):
            final_array.append(np.NaN)
    
    return final_array        

def table_spread(i, data_series):
    try:
        rows = pd.DataFrame(eval(data_series.values[i])).drop(columns=['Unnamed: 0']).to_numpy()
        for row_i in range(len(rows)):
            rows[row_i] = my_spliter(rows[row_i])  
        return rows
        
        
    
    except:
        return np.NaN

In [2]:
pyear = 2013
file_path = 'IMDB%d'%(pyear)

In [3]:
# reading dataframe


crawled_csv_path = os.path.join(file_path,'movie_page_data___sample_num_1.csv')
data = pd.read_csv(crawled_csv_path)

In [4]:
data.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Movie detail', 'Certificate',
       'Duration', 'Genre', 'DWS', 'Stars', 'Popularity',
       'Popularity up or down', 'Matascore', 'Metafavor', 'User review',
       'Critic review', 'Related movie', 'abstract', 'keywords',
       'all keywords', 'PG', 'PG detail', 'PG Country', 'vote_distro',
       'age_of_voter_distro', 'Poster link', 'Related movie score'],
      dtype='object')

In [129]:
len(data)

1319

In [ ]:
def related_movie_score(RSDs):
    RSDs = eval(RSDs)
    number_of_votes = []
    score = []
    movie_code = []
    
    for rsd in RSDs:
        try:
            number_of_votes.append(int(rsd[0][0][0]))
        except:
            number_of_votes.append(np.NaN)
        try:
            score.append(float(rsd[0][0][1]))
        except:
            score.append(np.NaN)

        # I did'nt use it
        try:
            movie_code.append(rsd[1])
        except:
            movie_code.append(np.NaN)
            
    return np.array(list(zip(number_of_votes, score)))

In [118]:
related_s_novs = data['Related movie score'].apply(related_movie_score)

In [125]:
Nov_list = []
Score_list = []
for related_s_nov in related_s_novs:
    Nov_list.append(related_s_nov[:,0])
    Score_list.append(related_s_nov[:,1])

In [126]:
SandNOV=pd.DataFrame({'Related Movie - Number 0f Vote':Nov_list,'Related Movie - Score':Score_list})

In [ ]:
len(SandNOV)

In [6]:
crawled_catalog = pd.read_csv(os.path.join(file_path,'movie_list_%d.csv'%pyear))

In [7]:
crawled_catalog.keys()

Index(['Unnamed: 0', 'No.', 'Movie', 'Year', 'IMDB_rating', 'Number of votes',
       'Meta favor', 'Meta score', 'Certificate', 'Runtime', 'Genre',
       'Gross Exact Value', 'Gross Approximation', 'movie_url'],
      dtype='object')

In [8]:
crawled_catalog['movie_url'] = crawled_catalog['movie_url'].apply(lambda x:x.split('/')[-2])

In [9]:
crawled_catalog.drop(['Unnamed: 0','Meta favor', 'Meta score'], axis=1,inplace = True )

In [10]:
# new table


data_managable = pd.DataFrame()

# Adding Title - no need to change

In [11]:
data_managable['Title'] = data['Title']

In [12]:
data_managable;

# Adding Year - str to int

In [13]:
data['Year'].apply(vstrip);

In [14]:
data_managable['Year'] = data['Year']

In [15]:
data_managable;

In [16]:
## this cell is for checking the movies that  are not published at 2016 but are in the 2016 list 
## and movies that do not have year in the movie page but are in the 2016 list 


for i,year in enumerate(data['Year'].values):
    try:
        if (int(year.strip()) == pyear):
            pass
        elif (year.strip() != pyear):
            print(i, data['Title'].values[i])
    except:
        print(i, data['Title'].values[i])

221 Generation War
225 The White Queen
298 Africa
326 The Bible
407 Mob City
439 Death Comes to Pemberley
466 Low Winter Sun
476 Zero Hour
495 The Escape Artist
533 Cult
588 Deception
589 Golden Boy
603 Ja'mie: Private School Girl
654 Do No Harm
655 Family Tree
664 Red Widow
670 The Great Train Robbery
675 Joogoonui Taeyang
697 Monday Mornings
701 What Remains
711 The Goodwin Games
716 Southcliffe
725 Arrow: Blood Rush
746 Camp
748 Neoui Moksoriga Deulryeo
754 Dancing on the Edge
772 Pokémon Origins
814 Spies of Warsaw
844 How to Live with Your Parents For the Rest of Your Life
851 Zach Stone Is Gonna Be Famous
926 Dates
951 The Widower
952 Run
968 Save Me
969 Ironside
971 The Politician's Husband
1018 Watashi ga motenai no wa dô kangaetemo omaera ga warui!
1042 Whodunnit?
1044 20 Dakika
1049 Blood Lad
1051 Ambassadors
1054 Breathless
1071 Danganronpa: Kibô no gakuen to zetsubô no kôkôsei - The animation
1083 Mayday
1086 We Are Men
1104 By Any Means
1111 The Sixties
1160 Jo
1164 Guga-ui Seo
1169 Welcome to the Family
1192 That Winter, the Wind Blows
1219 Good Doctor
1280 Wendell and Vinnie
1291 Galapagos 3D
1328 Lightfields
1331 Altindagli
1364 En pilgrims död
1380 London Irish
1394 The Guilty
1421 Mr & Mrs Murder
1536 Bimil
1542 Lucky 7
1547 Micro Monsters 3D
1579 Family Tools
1580 Counterpunch
1604 Generation War
1633 Serangoon Road
1656 eung-dab-hala 1994
1674 Was It Something I Said?
1711 Stephen Fry: Out There
1723 Generation War
1733 The White Queen
1747 The Bible
1775 Africa
1780 Generation War
1789 The Vineyard
1800 Out There
1851 2 Weeks
1877 Doctor Who: The Doctors Revisited
1885 Tamako Market
1897 Met Man en Macht
1922 Life of Crime
1927 Yes, Prime Minister
1943 Africa
1968 Mob City
1975 Deadpool
1980 The Bible
2009 Africa
2018 The Elegant Gentleman's Guide to Knife Fighting
2056 Nain: Ahob Beonui Shikan Yeohaeng
2059 Africa
2085 Gold Rush: South America
2088 Lucan
2100 The White Queen
2130 Africa
2149 Heartless City
2190 The White Queen
2201 The White Queen
2209 The Bible
2213 Zero Hour
2219 Low Winter Sun
2230 Mob City
2254 The White Queen
2262 The Bible
2294 The Wright Way
2299 The White Queen
2312 The White Queen
2333 Code Lyoko Evolution
2346 The White Queen
2350 Africa
2382 Heading Out
2400 Pretty Wicked Moms
2472 The Bible
2487 The Great Train Robbery
2492 The Bible
2515 The White Queen
2530 The White Queen
2538 Mob City
2552 Barna Hedenhös uppfinner julen
2566 The Escape Artist
2579 Mob City
2596 The Bible
2598 Mob City
2603 The Bible
2615 The Bible
2639 The Bible
2650 The Great Train Robbery
2655 Mob City
2763 Better Man
2769 The Escape Artist
2776 The Escape Artist
2786 Cult
2815 Marry Him If You Dare
2827 Death Comes to Pemberley
2830 Time of Death
2843 Inkognito
2847 Molanders
2871 Reef Doctors
2904 The African Americans: Many Rivers to Cross with Henry Louis Gates, Jr.
2914 Monstar
2961 Dating Agency: Cyrano
2967 A.S.K.
2992 Zero Hour
2993 Harry
2996 Jang Ok-jung, Sarang-e Salda
3002 Freddy Heineken
3017 Do No Harm
3030 De prooi
3041 Low Winter Sun
3056 Low Winter Sun
3057 Versus Valerie
3080 Save Me
3136 Southcliffe
3152 Allt faller
3156 Grimm: Meltdown
3180 Black Swan Theory
3184 Dates
3202 Low Winter Sun
3227 A Very British Murder with Lucy Worsley
3228 Death Comes to Pemberley
3234 O Canto da Sereia
3235 Family Tree
3249 Death Comes to Pemberley
3286 Jo
3291 Zero Hour
3333 Cult
3335 Spies of Warsaw
3339 Pokémon Origins
3343 Low Winter Sun
3348 Southcliffe
3375 Dates
3392 Low Winter Sun
3416 Zuidflank
3428 Double Divas
3480 Deception
3506 Golden Boy
3511 Nick Studio 10
3524 Arrow: Blood Rush
3531 Run
3540 Low Winter Sun
3553 Pokémon Origins
3558 Low Winter Sun
3594 Tvillingerne & Julemanden
3595 Pokémon Origins
3606 Southcliffe
3607 Low Winter Sun
3610 Van Gogh; een huis voor Vincent
3629 Low Winter Sun
3655 Pain, Pus & Poison: The Search for Modern Medicines
3657 Pokémon Origins
3666 Family Tree
3669 Zero Hour
3673 Cult
3677 Australia with Simon Reeve
3691 Las Vega's
3698 Red Widow
3700 Monday Mornings
3708 Arrow: Blood Rush
3733 Southcliffe
3737 Arrow: Blood Rush
3738 Arrow: Blood Rush
3754 Arrow: Blood Rush
3758 A Menina Sem Qualidades
3764 Soosanghan Gajungboo
3777 Arrow: Blood Rush
3782 What Remains
3788 Spies of Warsaw
3797 Dates
3803 The Goodwin Games
3840 Dancing on the Edge
3850 Ja'mie: Private School Girl
3860 Paper Giants: Magazine Wars
3888 Ironside
3892 Zero Hour
3906 Dates
3929 Alien Mysteries
3949 Jo
3950 Cult
3963 Cult
3977 Do No Harm
3988 What Remains
3989 Family Tree
4014 Family Tree
4016 Cult
4018 How to Live with Your Parents For the Rest of Your Life
4037 Bizim Okul
4040 Golden Boy
4043 Deception
4044 Red Widow
4046 Run
4061 Breathless
4086 We Are Men
4095 What Remains
4096 Family Tree
4117 Family Tree
4134 Dates
4139 What Remains
4141 Monday Mornings
4152 Medical Top Team
4191 Jo
4211 Camp
4212 Family Tree
4215 Do No Harm
4231 Dates
4240 Zero Hour
4304 Jo
4307 Cult
4323 Comedy Bang! Bang!
4330 The Goodwin Games
4334 Red Widow
4336 Jo
4337 Mankind Decoded
4341 Dancing on the Edge
4363 Golden Boy
4391 Dates
4395 The Guilty
4401 Golden Boy
4403 Zero Hour
4406 Jo
4412 Run
4417 Grinders
4419 Don't Call Me Crazy
4429 Ja'mie: Private School Girl
4434 Family Tree
4439 Cult
4476 Jo
4492 Rick Stein's India
4504 Dates
4517 Zero Hour
4518 Zero Hour
4539 Dates
4549 Do No Harm
4552 Jo
4555 Cult
4557 Red Widow
4559 Mr & Mrs Murder
4582 Comedy Bang! Bang!
4585 Breathless
4590 The Hundred Years' War
4593 Zero Hour
4602 Zach Stone Is Gonna Be Famous
4624 Golden Boy
4626 Deception
4634 Dancing on the Edge
4638 Syn ottsa narodov
4649 Comedy Bang! Bang!
4651 By Any Means
4659 Charlie
4662 Zero Hour
4666 Galapagos 3D
4667 Monday Mornings
4674 Run
4675 Dancing on the Edge
4680 Yae no sakura
4683 Forever Young
4685 Murder Files
4688 The Fugitive of Joseon
4704 Ironside
4707 Comedy Bang! Bang!
4710 Addicts Anonymous
4711 Breathless
4718 Red Widow
4719 How to Live with Your Parents For the Rest of Your Life
4721 Cult
4722 Do No Harm
4725 Dancing on the Edge
4741 Comedy Bang! Bang!
4743 My Husband's Lover
4749 Ambassadors
4753 Monday Mornings
4756 Cult
4759 Deception
4765 The Politician's Husband
4767 Mayday
4782 The Guilty
4794 Zero Hour
4795 Do No Harm
4796 Cult
4798 Cult
4830 The Goodwin Games
4856 Comedy Bang! Bang!
4863 Breathless
4864 Breathless
4868 Spies of Warsaw
4876 Do No Harm
4879 Do No Harm
4881 Do No Harm
4902 Comedy Bang! Bang!
4903 Welcome to the Family
4904 Lucky 7
4907 Comedy Bang! Bang!
4911 Golden Boy
4921 Zero Hour
4923 Suomensukuiset 30 päivässä
4927 The Goodwin Games
4936 The Politician's Husband
4952 Comedy Bang! Bang!
4955 Ja'mie: Private School Girl
4966 The Guilty
4977 Do No Harm
4982 The Politician's Husband
4988 Sininwang Bangtansonyeondan: Chaeneolbangtan
4996 Ja'mie: Private School Girl
4999 We Are Men
5014 Golden Boy
5015 Golden Boy
5016 Do No Harm
5017 Do No Harm
5018 Galapagos 3D
5023 Red Widow
5031 Wonder Valley
5033 Da Suisa
5041 Comedy Bang! Bang!
5051 Satria Garuda: Bima
5058 Breathless
5068 How to Live with Your Parents For the Rest of Your Life
5069 Deception
5070 The Goodwin Games
5098 Comedy Bang! Bang!
5112 The Goodwin Games
5113 Monday Mornings
5114 The Goodwin Games
5118 Do No Harm
5128 Mayday
5149 Comedy Bang! Bang!
5154 Dancing on the Edge
5158 Comedy Bang! Bang!
5166 Golden Boy
5168 Golden Boy
5176 Galapagos 3D
5177 Monday Mornings
5182 Deception
5183 Monday Mornings
5184 Red Widow
5193 Mayday
5206 Ja'mie: Private School Girl
5230 Monday Mornings
5235 Deception
5236 Deception
5242 Mayday
5247 Portal to the Unknown
5249 Incarnation of Money
5271 Deception
5280 Monday Mornings
5283 Red Widow
5305 Hustling America
5307 Ja'mie: Private School Girl
5311 Ironside
5320 Out There
5323 Deception
5334 Crème de la Crème
5341 Little Busters! Refrain
5351 Comedy Bang! Bang!
5366 By Any Means
5371 Zach Stone Is Gonna Be Famous
5374 Golden Boy
5376 Golden Boy
5383 Deception
5402 Neoui Moksoriga Deulryeo
5404 Comedy Bang! Bang!
5405 I Wouldn't Go in There
5425 Out There
5429 Out There
5434 Golden Boy
5435 Monday Mornings
5444 Mayday
5460 Comedy Bang! Bang!
5467 Micro Monsters 3D
5472 Camp
5476 Out There
5477 Lightfields
5492 Mr & Mrs Murder
5511 Comedy Bang! Bang!
5519 The Hamster Decides
5544 How to Live with Your Parents For the Rest of Your Life
5567 Meet the Sloths
5590 By Any Means
5605 Ambassadors
5609 En pilgrims död
5614 How to Live with Your Parents For the Rest of Your Life
5657 By Any Means
5660 Save Me
5671 Ambassadors
5677 How to Live with Your Parents For the Rest of Your Life
5707 Welcome to the Family
5716 Out There
5717 Out There
5726 How to Live with Your Parents For the Rest of Your Life
5744 Family Tools
5752 Carnívoros
5764 Comedy Bang! Bang!
5788 Comedy Bang! Bang!
5793 Camp
5799 Out There
5808 En pilgrims död
5809 En pilgrims död
5813 Panic Button
5845 First Footprints
5847 Comedy Bang! Bang!
5869 Micro Monsters 3D
5872 By Any Means
5878 Out There
5881 Out There
5894 How to Live with Your Parents For the Rest of Your Life
5899 Zach Stone Is Gonna Be Famous
5907 Familia
5932 Empire of Gold
5944 Watashi ga motenai no wa dô kangaetemo omaera ga warui!
5954 Whodunnit?
5962 Out There
5973 Serangoon Road
5991 How to Live with Your Parents For the Rest of Your Life
6033 Micro Monsters 3D
6043 Save Me
6047 Zach Stone Is Gonna Be Famous
6061 En pilgrims död
6062 How to Live with Your Parents For the Rest of Your Life
6068 Mr & Mrs Murder
6069 Zach Stone Is Gonna Be Famous

# Adding Detail

In [17]:
### finding largest details set!: 

keys_0 = list(eval(data['Movie detail'].values[0]).keys())

max_num_index = len(keys_0)
index_max = 0
for i,detail in enumerate(data['Movie detail'].values):
    detail = eval(detail)
    if len(detail) > max_num_index :
        max_num_index = len(detail) 
        index_max = i
print(index_max)

0

In [18]:
# keys in the largest set
one_of_the_largest_index = index_max
keys = list(eval(data['Movie detail'].values[one_of_the_largest_index]).keys())

# listing the keys:
for key in keys:
    print(key)

Official Sites
Country
Language
Release Date
Also Known As
Filming Locations
Budget
Opening Weekend USA
Gross USA
Cumulative Worldwide Gross
Production Co
Runtime
Sound Mix
Color
Aspect Ratio

In [19]:
# listing all the details of movies

movie_data_detail = []
movies_data_detail = [] 

for i,detail in enumerate(data['Movie detail'].values):
    detail = eval(detail)
    for key in keys:
        try:
            movie_data_detail.append(detail[key])
        except:
            movie_data_detail.append(np.nan)
    movies_data_detail.append(movie_data_detail)
    movie_data_detail = []

In [20]:
# creating detail dataframe

detail_table = pd.DataFrame(movies_data_detail, columns=keys)
detail_table;

In [21]:
# attaching detail to main table

data_managable = pd.concat([data_managable,detail_table],axis=1)
data_managable

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Production Co,Runtime,Sound Mix,Color,Aspect Ratio
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013","$116,900,694","$392,000,694","Red Granite Pictures, Appian Way, Sikelia Pro...",180 min|145 min (cut) |240...,Datasat| Dolby Digital| Dolby Surround 7.1,Color,2.39 : 1
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013","$274,092,705","$723,192,705","Warner Bros., Esperanto Filmoj, Heyday Films",91 min,Datasat| Dolby Digital| Dolby Atmos| SDDS| Dol...,Color,2.39 : 1
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013","$409,013,994","$1,214,811,252","Marvel Studios, Paramount Pictures, DMG Enter...",130 min|195 min (assembly cut),Dolby Digital| Datasat| Dolby Atmos| Dolby Sur...,Color,2.39 : 1
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013","$291,045,518","$668,045,518","Warner Bros., Legendary Entertainment, Syncopy",143 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,2.35 : 1
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013","$56,671,993","$187,733,202","Regency Enterprises, River Road Entertainment...",134 min,DTS(Digital DTS Sound)| Dolby Digital| SDDS| D...,Color,2.35 : 1
5,The Hunger Games: Catching Fire,2013,Centralmovies|Kinotab.com|,USA,English,22 November 2013 (USA),The Hunger Games 2,"Atlanta, Georgia, USA","$130,000,000 (estimated)","$158,074,286,24 November 2013","$424,668,047","$865,011,746","Color Force, Lionsgate",146 min,Dolby Digital| Datasat| Dolby Atmos| Dolby Sur...,Color,2.35 : 1
6,The Hobbit: The Desolation of Smaug,2013,Centralmoviesth|Official site|,USA|New Zealand,English,13 December 2013 (USA),The Hobbit Part 2,"Stone Street Studios, Stone Street, Miramar, W...","$225,000,000 (estimated)","$73,645,197,15 December 2013","$258,366,855","$958,366,855","Metro-Goldwyn-Mayer (MGM), New Line Cinema, W...",161 min|186 min (Extended Edition),Dolby Atmos| Datasat| Dolby Digital,Color,2.35 : 1
7,World War Z,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK|Malta,English|Spanish|Hebrew|Arabic,21 June 2013 (USA),Guerra mundial Z,"Lulworth Cove, Weymouth, Dorset, England, UK","$190,000,000 (estimated)","$66,411,834,23 June 2013","$202,359,711","$540,007,876","Paramount Pictures, Skydance Media, Hemispher...",116 min|123 min (Unrated Edition),Datasat| Dolby Surround 7.1| SDDS| Dolby Atmos,Color,2.39 : 1
8,Now You See Me,2013,Official Facebook|Official site [Japan]|,USA|France,English|French,31 May 2013 (USA),Now You See Me,"Orpheum Theater - 842 South Broadway, Downtown...","$75,000,000 (estimated)","$29,350,389,2 June 2013","$117,723,989","$351,723,989","Summit Entertainment, K/O Paper Products, SOI...",115 min|125 min (extended edition),Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,2.39 : 1
9,Thor: The Dark World,2013,Official Facebook|Official site [Japan]|,USA,English,8 November 2013 (USA),Thor 2,"Shepperton Studios, Shepperton, Surrey, Englan...","$170,000,000 (estimated)","$85,737,841,10 November 2013","$206,362,140","$644,783,140","Marvel Studios, Walt Disney Pictures",112 min,Dolby Digital| Datasat| Dolby Atmos| Auro 11.1...,Color,2.39 : 1
10,Prisoners,2013,Official site|Official site [Japan],USA,English,20 September 2013 (USA),Prisoners,"Conyers, Georgia, USA","$46,000,000 (estimated)","$20,817,053,22 September 2013","$61,002,302","$122,126,687","Alcon Entertainment, 8:38 Productions, Madhou...",153 min,SDDS| Datasat| Dolby Digital| Dolby Surround 7...,Color(DeLuxe),1.85 : 1
11,Frozen,2013,Official Facebook Page|Official Facebook Page ...,USA,English|Norwegian,27 November 2013 (USA),The Snow Queen,Walt Disney Animation Studios - 2100 W Riversi...,"$150,000,000 (estimated)","$243,390,24 November 2013","$400,738,009","$1,274,219,009","Walt Disney Animation Studios, Walt Disney Pi...",102 min,Datasat| Dolby Atmos| Auro 11.1| Dolby Surroun...,Color,2.39 : 1
12,Her,2013,Official Facebook|Official site|,USA,English,10 January 2014 (USA),Her,"Los Angeles, California, USA","$23,000,000 (estimated)","$260,382,22 December 2013","$25,568,251","$47,351,251",Annapurna Pictures,126 min,SDDS| Datasat| Dolby Digital,Color,1.85 : 1
13,Oblivion,2013,Official Facebook|Official site|,USA,English,19 April 2013 (USA),Horizons,"New York City, New York, USA","$120,000,000 (estimated)","$37,054,485,21 April 2013","$89,107,235","$286,168,572","Universal Pictures, Relativity Media, Monolit...",124 min,SDDS| Datasat| Dolby Digital| Dolby Atmos,Color(ACES)| Color(DeLuxe),2.39 : 1
14,Star Trek Into Darkness,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Klingon,16 May 2013 (USA),Star Trek 2,Lawrence Livermore National Laboratory - 7000 ...,"$190,000,000 (estimated)","$70,165,559,19 May 2013","$228,778,661","$467,365,246","Paramount Pictures, Skydance Media, Bad Robot",132 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Aur...,Color,2.39 : 1
15,Pacific Rim,2013,Official Facebook|Official site|,USA,English|Japanese|Cantonese|Mandarin,12 July 2013 (USA),Still Seas,"Pinewood Toronto Studios, Port Lands, Toronto,...","$190,000,000 (estimated)","$37,285,325,14 July 2013","$101,802,906","$411,002,906","Warner Bros., Legendary Entertainment, Double...",131 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,1.85 : 1
16,The Great Gatsby,2013,Official Blog|Official Facebook|,Australia|USA,English,10 May 2013 (USA),The Great Gatsby,"Sydney Polo Club, Richmond, New South Wales, A...","$105,000,000 (estimated)","$50,085,185,12 May 2013","$144,840,419","$353,641,895","Warner Bros., Village Roadshow Pictures, A+E ...",143 min,SDDS| Datasat| Dolby Digital,Color,2.39 : 1
17,American Hustle,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Arabic,20 December 2013 (USA),American Bullshit,"Boston, Massachusetts, USA","$40,000,000 (estimated)","$740,455,15 December 2013","$150,117,807","$251,171,807","Columbia Pictures, Annapurna Pictures, Atlas ...",138 min,Datasat| SDDS| Dolby Digital| Dolby Atmos| Dol...,Color| Black and White(surveillance footage),2.39 : 1
18,Dallas Buyers Club,2013,Official Facebook|Official site|,USA,English|Japanese,22 November 2013 (USA),Dallas Buyers Club,"New Orleans, Louisiana, USA","$5,000,000 (estimated)","$260,865,3 November 2013","$27,298,285","$55,198,285","Truth Entertainment (II), Voltage Pictures, r...",117 min,Dolby Digital,Color,2.35 : 1
19,The Wolverine,2013,Official Facebook|Official site|,USA|UK,English|Japanese,26 July 2013 (USA),Wolverine 2,"Fox Studios, Moore Park, Sydney, New South Wal...","$120,000,000 (estimated)","$53,113,752,28 July 2013","$132,556,852","$414,828,246","Twentieth Century Fox, Marvel Entertainment, ...",126 min|138 min (Extended Edition),Datasat| Dolby Atmos| SDDS,Color,2.39 : 1
20,The Conjuring,2013,Official Facebook|Official Facebook [UK]|,USA,English|Latin,19 July 2013 (USA),The Warren Files,"Wilmington, North Carolina, USA","$20,000,000 (estimated)","$41,855,326,21 July 2013","$137,400,141","$319,494,638","New Line Cinema, The Safran Company, Evergree...",112 min,Dolby Digital| Datasat| SDDS,Color,2.39 : 1
21,Elysium,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Spanish|French|Afrikaans|Ukrainian,9 August 2013 (USA),Elysium,"British Columbia, Canada","$115,000,000 (estimated)","$29,807,393,11 August 2013","$93,050,117","$286,140,700","TriStar Pictures, Media Rights Capital (MRC),...",109 min,DTS| SDDS| Dolby Digital| Dolby Atmos| Auro 11...,Color(ACES),2.35 : 1
22,Rush,2013,Official Facebook|Official site|,UK|Germany|USA,English|German|Italian|French|Spanish,27 September 2013 (USA),Rush,"Evolution Printing, Stanhope Road, Camberley, UK","$38,000,000 (estimated)","$187,289,22 September 2013","$26,947,624","$92,006,038","Exclusive Media Group, Cross Creek Pictures, ...",123 min,Dolby Digital| Datasat| SDDS,Color,2.35 : 1
23,Captain Phillips,2013,Official Facebook|Official site|,USA,English|Somali,11 October 2013 (USA),Maersk Alabama,Malta,"$55,000,000 (estimated)","$25,718,314,13 October 2013","$107,100,855","$218,791,811","Scott Rudin Productions, Michael De Luca Prod...",134 min,SDDS| Datasat| Dolby Digital| Dolby Atmos| Dol...,Color,2.35 : 1
24,We're the Millers,2013,Official Google+|Official site|,USA|UK,English|Spanish,7 August 2013 (USA),We're the Millers,"420 Market Street, Wilmington, North Carolina,...","$37,000,000 (estimated)","$26,419,396,11 August 2013","$150,394,119","$269,994,119","New Line Cinema, Newman/Tooley Films, Slap Ha...",110 min|128 min (Extended Cut),SDDS| Datasat| Dolby Digital,Color,2.39 : 1
25,This Is the End,2013,Official Facebook|Official site|,USA,English|Spanish,12 June 2013 (USA),Jay and Seth Vs. the Apocolapyse,"New Orleans, Louisiana, USA","$32,000,000 (estimated)","$20,719,162,16 June 2013","$101,470,202","$126,041,322","Columbia Pictures, Point Grey Pictures, Manda...",107 min,Dolby Digital| Datasat| SDDS| Dolby Surround 7.1,Color,2.35 : 1
26,Furious 6,2013,Official Facebook,USA|Japan|Spain|UK,English|Spanish|Russian|Japanese|Cantonese|Dutch,24 May 2013 (USA),Fast 6,"Shepperton Studios, Shepperton, Surrey, Englan...","$160,000,000 (estimated)","$97,375,245,26 May 2013","$238,679,850","$788,679,850","Universal Pictures, Relativity Media, Origina...",130 min|131 min (extended),SDDS| Dolby Digital| Datasat| Dolby Atmos| Dol...,Color,2.39 : 1
27,Despicable Me 2,2013,Official Facebook|Official site|,USA|France|Japan,English|Ukrainian,3 July 2013 (USA),Despicable Me 2,NaN,"$76,000,000 (estimated)","$83,517,315,7 July 2013","$368,065,385","$970,766,005","Universal Pictures, Illumination Entertainment",98 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,1.85 : 1
28,Monsters University,2013,Official Facebook|Official site|,USA,English,21 June 2013 (USA),Monsters Inc. 2,"Pixar Animation Studios - 1200 Park Avenue, Em...","$200,000,000 (estimated)","$82,429,469,23 June 2013","$268,492,764","$743,559,607","Walt Disney Pictures, Pixar Animation Studios",104 min,Dolby Atmos| Datasat| SDDS| Auro 11.1| Dolby D...,Color,1.85 : 1
29,The Secret Life of Walter Mitty,2013,Official site [Japan]|Official Website,USA|UK,English|Spanish|Icelandic,25 December 2013 (USA),The Secret Life of Walter Mitty,"Los Angeles, California, USA","$90,000,000 (estimated)","$12,765,508,29 December 2013","$58,236,838","$188,133,322","Twentieth Century Fox, TSG Entertainment, Sam...",114 min,Dolby Surround 7.1| Datasat| Dolby Digital| Do...,Color,2.39 : 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6042,Indie Director,2013,NaN,USA,English,25 May 2013 (USA),Indie Director - Actor's Cut,NaN,"$5,000 (estimated)",NaN,NaN,NaN,NaN,135 min (DVD),NaN,Color,NaN
6043,Save Me,,Official Site,USA,English,2013 (USA),Mennyei tippek,NaN,NaN,NaN,NaN,NaN,"JSS Entertainment, Original Film, Sony Pictur...",22 min,Stereo,Color,16:9 HD
6044,After Life,2013,Official site,USA,English,NaN,NaN,"Lake Mills, Iowa, USA","$400,000 (estimated)",NaN,NaN,NaN,My Town Pictures,110 min,Dolby Digital,Color,16:9 HD
6045,Pouco Mais de um Mês,2013,Official site,Brazil,Portuguese,January 2013 (Brazil),About a Month,NaN,NaN,NaN,NaN,NaN,Filmes de Plástico,24 min,NaN,Color,NaN
6046,Casting,2013,Official site [Spain],Spain,Spanish,22 November 2013 (Spain),NaN,NaN,NaN,NaN,NaN,NaN,"Gauger Film, La Lanterna Magica, Nana Films",NaN,NaN,Color,NaN
6047,Zach Stone Is Gonna Be Famous,,NaN,USA,English,2 May 2013 (USA),Zach Stone bedzie slawny,NaN,NaN,NaN,NaN,NaN,"3 Arts Entertainment, MTV Networks",NaN,Dolby Digital,Color,16:9 HD
6048,Tin & Tina,2013,Official site,Spain,Spanish|English,April 2013 (Spain),NaN,NaN,"$35,000 (estimated)",NaN,NaN,NaN,"Producciones Donaña S.L.L., Nirvein Films",12 min,Dolby SR(Dolby 5.1),Black and White(35 mm version)| Black and White,2.35 : 1
6049,Straight Down Low,2013,Official Facebook,USA,English,June 2013 (USA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25 min,NaN,Color,NaN
6050,Edge of Dawn,2013,Official site|Official site,USA,English,2013 (USA),NaN,NaN,NaN,NaN,NaN,NaN,J.R. Productions,105 min,NaN,Color,NaN
6051,Le prochain film,2013,NaN,France,French,21 August 2013 (France),The Film to Come,NaN,NaN,NaN,NaN,NaN,Les Films Alyne,83 min,NaN,Color,2.35 : 1
6052,The Bucuresti Experiment,2013,NaN,Romania,Romanian,6 June 2013 (Romania),Experimentul Bucuresti,Romania,NaN,NaN,NaN,NaN,NaN,68 min,NaN,Color,NaN
6053,Pajama Nightmare,2013,NaN,USA,English,26 March 2013 (USA),NaN,"Athens, Georgia, USA","$2,000 (estimated)",NaN,NaN,NaN,Gonzoriffic Films,64 min,Dolby Digital,Color(NTSC Color),16:9 HD
6054,My Atomic Aunt,2013,NaN,Germany,Japanese,8 March 2013 (Japan),Beyond the Wave,"Fukushima, Japan",NaN,NaN,NaN,NaN,Inselfilm Produktion,73 min,Dolby SR,Color,16:9 HD
6055,Horizonte,2013,Official site,Spain,Spanish,September 2013 (Portugal),Horizon,NaN,"EUR42,000 (estimated)",NaN,NaN,NaN,Mano Negra Films,24 min,NaN,Color,NaN
6056,Adam,2013,NaN,Indonesia|Israel|USA,Hebrew,2013 (Israel),NaN,NaN,NaN,NaN,NaN,NaN,NaN,23 min,NaN,Color,NaN
6057,This Way Out,2013,Official site|Official site,UK,English,28 June 2013 (USA),Vészkijárat,NaN,NaN,NaN,NaN,NaN,Forward Motion Pictures,17 min,NaN,Color,16:9 HD
6058,Don't Call It A Comeback,2013,NaN,USA,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7 min,NaN,Color,NaN
6059,Auschwitz on My Mind,2013,NaN,Israel|Poland|UK,Hebrew,2013 (Israel),Lizkor Ve Lo Lishkoakh,"Auschwitz-Birkenau Concentration Camp, Oswieci...",NaN,NaN,NaN,NaN,Met Film School,16 min,NaN,Color,2.35 : 1
6060,La festa,2013,Official site,Italy,Italian,31 October 2013 (Italy),NaN,"Genova, Liguria, Italy","EUR200,000 (estimated)",NaN,NaN,NaN,"Ardaco, Gagarin, A Buzz Supreme",80 min,NaN,Color(HD),NaN
6061,En pilgrims död,,Sveriges Television (SVT) [Sweden],Sweden|Denmark|Norway|Finland,Swedish|English|Spanish,13 January 2013 (Sweden),Death of a Pilgrim,"Stockholm, Stockholms län, Sweden",NaN,NaN,NaN,NaN,"Sveriges Television (SVT), Chimney, Danmarks ...",233 min (entire series),Dolby Digital(5.1),Color,16:9 HD Letterbox
6062,How to Live with Your Parents For the Rest of ...,,NaN,USA,English,3 April 2013 (USA),How to Live With Your Parents,NaN,NaN,NaN,NaN,NaN,"Imagine Television, Hot Lava Girl, 20th Centu...",30 min,Stereo,Color,16:9 HD
6063,I kærlighedens navn,2013,NaN,Denmark,English,15 February 2013 (Denmark),Just the Right Amount of Violence,"Los Angeles, California, USA","EUR1,200,000 (estimated)",NaN,NaN,NaN,"Kamoli Films, C&C Productions",83 min,NaN,Color,NaN
6064,Weekendfar,2013,NaN,Denmark,Danish,5 September 2013 (Denmark),Wochenend-Papa,NaN,NaN,NaN,NaN,NaN,"Det Danske Filminstitut, Profile Pictures, TV...",26 min,NaN,Color,NaN
6065,Left,2013,Official site,Ireland|UK,English,21 June 2013 (UK),NaN,NaN,NaN,NaN,NaN,NaN,NaN,12 min,NaN,Color,NaN
6066,Algonquin,2013,Official Facebook|Official site,Canada,English,24 August 2013 (Canada),Losing My Edge,"North Bay, Ontario, Canada",NaN,NaN,NaN,NaN,"Berkeley Films, Hidden Horseshoe Productions,...",101 min,NaN,Color,2.35 : 1
6067,Shanidâru no hana,2013,NaN,Japan,Japanese,20 July 2013 (Japan),Flower of Shanidar,NaN,NaN,NaN,NaN,NaN,"Dragon Mountain, Nobu Pictures",105 min,NaN,Color,NaN
6068,Mr & Mrs Murder,,NaN,Australia,English,20 February 2013 (Australia),NaN,"Melbourne, Victoria, Australia",NaN,NaN,NaN,NaN,FremantleMedia,44 min (13 episodes),Stereo,Color,16:9 HD
6069,Zach Stone Is Gonna Be Famous,,NaN,USA,English,2 May 2013 (USA),Zach Stone bedzie slawny,NaN,NaN,NaN,NaN,NaN,"3 Arts Entertainment, MTV Networks",NaN,Dolby Digital,Color,16:9 HD
6070,Unter Menschen,2013,Official site [Germany],Germany|Austria|Hungary,German,21 March 2013 (Germany),Redemption Impossible,"Gänserndorf, Lower Austria, Austria",NaN,NaN,NaN,NaN,"DENKmal Filmgesellschaft, Westdeutscher Rundf...",90 min,NaN,Color,16:9 HD
6071,Forty Years from Yesterday,2013,Official Facebook|Official site,USA,English,16 June 2013 (USA),NaN,"King City, California, USA",NaN,NaN,NaN,NaN,Paper Moon Films,77 min,NaN,Color,NaN

# Addig certificate - not change is needed

In [22]:
data_managable['Page Certificate'] = data['Certificate']

# Addig Genre - not change is needed

In [23]:
data_managable['Genre'] = data['Genre']

In [24]:
data_managable.head()

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Production Co,Runtime,Sound Mix,Color,Aspect Ratio,Page Certificate,Genre
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013","$116,900,694","$392,000,694","Red Granite Pictures, Appian Way, Sikelia Pro...",180 min|145 min (cut) |240...,Datasat| Dolby Digital| Dolby Surround 7.1,Color,2.39 : 1,R,"['Biography', 'Crime', 'Drama']"
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013","$274,092,705","$723,192,705","Warner Bros., Esperanto Filmoj, Heyday Films",91 min,Datasat| Dolby Digital| Dolby Atmos| SDDS| Dol...,Color,2.39 : 1,PG-13,"['Drama', 'Sci-Fi', 'Thriller']"
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013","$409,013,994","$1,214,811,252","Marvel Studios, Paramount Pictures, DMG Enter...",130 min|195 min (assembly cut),Dolby Digital| Datasat| Dolby Atmos| Dolby Sur...,Color,2.39 : 1,PG-13,"['Action', 'Adventure', 'Sci-Fi']"
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013","$291,045,518","$668,045,518","Warner Bros., Legendary Entertainment, Syncopy",143 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,2.35 : 1,PG-13,"['Action', 'Adventure', 'Sci-Fi']"
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013","$56,671,993","$187,733,202","Regency Enterprises, River Road Entertainment...",134 min,DTS(Digital DTS Sound)| Dolby Digital| SDDS| D...,Color,2.35 : 1,R,"['Biography', 'Drama', 'History']"

# Addig DWS - expanding the data into 3 field

In [25]:
# Key finding

keys = eval(data['DWS'].values[0])
keys = [key[0].replace(':','') for key in keys]

In [26]:
# Extracting data

movie_dws = [np.nan]*3
movies_dws = []
for i,dws in enumerate(data['DWS'].values[:300]):
    dws = eval(dws)   
    for j,dws_i in enumerate(dws):
        try:
            movie_dws[j] = joiner(dws_i[1])
        except:
            pass
    movies_dws.append(movie_dws)
    movie_dws = [np.nan]*3

In [27]:
# creating dws dataframe

dws_table = pd.DataFrame(movies_dws, columns=keys)
dws_table;

In [28]:
# adding to final table

data_managable = pd.concat([data_managable,dws_table],axis=1)
data_managable.head()

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,...,Production Co,Runtime,Sound Mix,Color,Aspect Ratio,Page Certificate,Genre,Director,Writers,Stars
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013",...,"Red Granite Pictures, Appian Way, Sikelia Pro...",180 min|145 min (cut) |240...,Datasat| Dolby Digital| Dolby Surround 7.1,Color,2.39 : 1,R,"['Biography', 'Crime', 'Drama']",Martin Scorsese,"Terence Winter,Jordan Belfort","Leonardo DiCaprio,Jonah Hill,Margot Robbie"
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013",...,"Warner Bros., Esperanto Filmoj, Heyday Films",91 min,Datasat| Dolby Digital| Dolby Atmos| SDDS| Dol...,Color,2.39 : 1,PG-13,"['Drama', 'Sci-Fi', 'Thriller']",Alfonso Cuarón,"Alfonso Cuarón,Jonás Cuarón","Sandra Bullock,George Clooney,Ed Harris"
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013",...,"Marvel Studios, Paramount Pictures, DMG Enter...",130 min|195 min (assembly cut),Dolby Digital| Datasat| Dolby Atmos| Dolby Sur...,Color,2.39 : 1,PG-13,"['Action', 'Adventure', 'Sci-Fi']",Shane Black,"Drew Pearce,Shane Black","Robert Downey Jr.,Guy Pearce,Gwyneth Paltrow"
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013",...,"Warner Bros., Legendary Entertainment, Syncopy",143 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,2.35 : 1,PG-13,"['Action', 'Adventure', 'Sci-Fi']",Zack Snyder,"David S. Goyer,David S. Goyer","Henry Cavill,Amy Adams,Michael Shannon"
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013",...,"Regency Enterprises, River Road Entertainment...",134 min,DTS(Digital DTS Sound)| Dolby Digital| SDDS| D...,Color,2.35 : 1,R,"['Biography', 'Drama', 'History']",Steve McQueen,"John Ridley,Solomon Northup","Chiwetel Ejiofor,Michael Kenneth Williams,Mich..."

# Adding Stars with roles

In [29]:
# making tuple of star and role  i.e. (star name, role )
stars_role = []

for i in range(len(data['Stars'])):
    try:
        a = pd.DataFrame(eval(data['Stars'].values[i])).to_numpy()
        stars_role.append(list(zip(a[:,0], a[:,1])))
    except:
        stars_role.append(np.NaN)

In [30]:
# creatign data frame
d = {'Stars & Roles' : pd.Series(stars_role, index =range(len(stars_role)))}    
df_start = pd.DataFrame(d)

In [31]:
# addign to the final table
data_managable['Stars & Roles'] = df_start

In [32]:
data_managable.head()

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,...,Runtime,Sound Mix,Color,Aspect Ratio,Page Certificate,Genre,Director,Writers,Stars,Stars & Roles
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013",...,180 min|145 min (cut) |240...,Datasat| Dolby Digital| Dolby Surround 7.1,Color,2.39 : 1,R,"['Biography', 'Crime', 'Drama']",Martin Scorsese,"Terence Winter,Jordan Belfort","Leonardo DiCaprio,Jonah Hill,Margot Robbie","[(Leonardo DiCaprio, Jordan Belfort), (Jonah H..."
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013",...,91 min,Datasat| Dolby Digital| Dolby Atmos| SDDS| Dol...,Color,2.39 : 1,PG-13,"['Drama', 'Sci-Fi', 'Thriller']",Alfonso Cuarón,"Alfonso Cuarón,Jonás Cuarón","Sandra Bullock,George Clooney,Ed Harris","[(Sandra Bullock, Ryan Stone), (George Clooney..."
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013",...,130 min|195 min (assembly cut),Dolby Digital| Datasat| Dolby Atmos| Dolby Sur...,Color,2.39 : 1,PG-13,"['Action', 'Adventure', 'Sci-Fi']",Shane Black,"Drew Pearce,Shane Black","Robert Downey Jr.,Guy Pearce,Gwyneth Paltrow","[(Robert Downey Jr., Tony Stark), (Gwyneth Pal..."
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013",...,143 min,Dolby Digital| Datasat| SDDS| Dolby Atmos| Dol...,Color,2.35 : 1,PG-13,"['Action', 'Adventure', 'Sci-Fi']",Zack Snyder,"David S. Goyer,David S. Goyer","Henry Cavill,Amy Adams,Michael Shannon","[(Henry Cavill, Clark Kent / Kal-El), (Amy Ada..."
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013",...,134 min,DTS(Digital DTS Sound)| Dolby Digital| SDDS| D...,Color,2.35 : 1,R,"['Biography', 'Drama', 'History']",Steve McQueen,"John Ridley,Solomon Northup","Chiwetel Ejiofor,Michael Kenneth Williams,Mich...","[(Chiwetel Ejiofor, Solomon Northup), (Dwight ..."

# Adding Popularity - no need to change

In [33]:
data_managable['Popularity'] = data['Popularity']

# Adding Popularity changes - no need to change

In [34]:
data_managable['Popularity up or down'] = data['Popularity up or down']

# Adding Metascore - no need to change

In [35]:
data_managable['Matascore'] = data['Matascore']

# Adding Metafavor - no need to change

In [36]:
data_managable['Metafavor'] = data['Metafavor']

# Adding User reviews - no need to change

In [37]:
data_managable['User review'] = data['User review']

# Adding Critic review - no need to change

In [38]:
data_managable['Critic review'] = data['Critic review']

# Adding Related movis - no need to change

In [39]:
data_managable['Related movie'] = data['Related movie']

# Adding Abstract- no need to change

In [40]:
data_managable['abstract'] = data['abstract']

# Adding keywords- no need to change

In [41]:
data_managable['keywords'] = data['keywords']

# Adding All keywords - no need to change

In [42]:
data_managable['all keywords'] = data['all keywords']

In [43]:
data_managable.head()

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,...,Popularity,Popularity up or down,Matascore,Metafavor,User review,Critic review,Related movie,abstract,keywords,all keywords
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013",...,81.0,Up 14,75.0,favorable,1281 user,635 critic,"[('Shutter Island', 'https://www.imdb.com/titl...",Jordan Belfort is a Long Island penny stockbro...,"[' based on true story', ' stockbroker', ' sex...","[('based on true story', ['10 of 10']), ('stoc..."
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013",...,214.0,Down 113,96.0,favorable,2007 user,771 critic,"[('The Martian', 'https://www.imdb.com/title/t...",Dr. Ryan Stone (Sandra Bullock) is a brilliant...,"[' female protagonist', ' space station', ' so...","[('female protagonist', ['6 of 6']), ('space s..."
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013",...,439.0,Up 32,62.0,favorable,1264 user,637 critic,"[('Iron Man 2', 'https://www.imdb.com/title/tt...","Marvel's ""Iron Man 3"" pits brash-but-brilliant...","[' terrorist', ' billionaire', ' human bomb', ...","[('terrorist', ['4 of 4']), ('billionaire', ['..."
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013",...,525.0,Up 140,55.0,mixed,2659 user,753 critic,"[('Batman v Superman: Dawn of Justice', 'https...",A young boy learns that he has extraordinary p...,"[' reboot', ' british actor playing american c...","[('reboot', ['3 of 3']), ('british actor playi..."
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013",...,677.0,Up 12,96.0,favorable,773 user,607 critic,"[('Argo', 'https://www.imdb.com/title/tt102464...",Based on an incredible true story of one man's...,"[' torture', ' kidnapping', ' racism', ' whipp...","[('torture', ['3 of 3']), ('kidnapping', ['3 o..."

# Adding PG in two columns , with spoiler and without spoiler

### without spoiler (wos)

In [44]:
sn = []
vg = []
p = []
ads = []
fis = []
for i in range(len(data['PG'])):
    try:
        PG_dict = eval(data['PG'].values[i].replace('nan','np.nan'))[0]
        try:
            sn.append(PG_dict['Sex & Nudity'])
        except:
            sn.append(np.NaN)
            
        try:
            vg.append(PG_dict['Violence & Gore'])
        except:
            vg.append(np.NaN)
            
        try:
            p.append(PG_dict['Profanity'])
        except:
            p.append(np.NaN)
            
        try:
            ads.append(PG_dict['Alcohol, Drugs & Smoking'])
        except:
            ads.append(np.NaN)

        try:
            fis.append(PG_dict['Frightening & Intense Scenes'])
        except:
            fis.append(np.NaN)    
        
    except:
        sn.append(np.NaN)
        vg.append(np.NaN)
        p.append(np.NaN)
        ads.append(np.NaN)
        fis.append(np.NaN)

In [45]:
# creating dataframe
PG_without_spoiler_dataframe = pd.DataFrame({'Sex & Nudity - wos': sn ,
                                 'Violence & Gore - wos': vg,
                                 'Profanity - wos': p,
                                 'Alcohol, Drugs & Smoking - wos': ads,
                                 'Frightening & Intense Scenes - wos': fis}) 
PG_without_spoiler_dataframe;

### with spoiler (ws)

In [46]:
sn = []
vg = []
p = []
ads = []
fis = []
for i in range(len(data['PG'])):
    try:
        PG_dict = eval(data['PG'].values[i].replace('nan','np.nan'))[1]
        try:
            sn.append(PG_dict['Sex & Nudity'])
        except:
            sn.append(np.NaN)
            
        try:
            vg.append(PG_dict['Violence & Gore'])
        except:
            vg.append(np.NaN)
            
        try:
            p.append(PG_dict['Profanity'])
        except:
            p.append(np.NaN)
            
        try:
            ads.append(PG_dict['Alcohol, Drugs & Smoking'])
        except:
            ads.append(np.NaN)

        try:
            fis.append(PG_dict['Frightening & Intense Scenes'])
        except:
            fis.append(np.NaN)
        
        
        
        
        
    except:
        sn.append(np.NaN)
        vg.append(np.NaN)
        p.append(np.NaN)
        ads.append(np.NaN)
        fis.append(np.NaN)

In [47]:
# creating dataframe 
PG_with_spoiler_dataframe = pd.DataFrame({'Sex & Nudity - ws': sn ,
                                 'Violence & Gore - ws': vg,
                                 'Profanity - ws': p,
                                 'Alcohol, Drugs & Smoking - ws': ads,
                                 'Frightening & Intense Scenes - ws': fis}) 
PG_with_spoiler_dataframe

,Sex & Nudity - ws,Violence & Gore - ws,Profanity - ws,"Alcohol, Drugs & Smoking - ws",Frightening & Intense Scenes - ws
0,NaN,NaN,NaN,NaN,"(2, nan)"
1,NaN,"(1, nan)",NaN,NaN,"(2, nan)"
2,"(1, nan)",NaN,NaN,NaN,"(5, nan)"
3,"(1, nan)","(1, nan)",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,"(1, nan)","(1, nan)","(1, nan)",NaN,"(2, nan)"
6,NaN,"(1, nan)",NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,"(1, nan)","(1, nan)",NaN,NaN,NaN
9,NaN,"(2, nan)",NaN,NaN,"(1, nan)"
10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,"(1, nan)"
12,"(1, nan)",NaN,NaN,NaN,NaN
13,"(1, nan)",NaN,NaN,NaN,NaN
14,NaN,"(4, nan)",NaN,NaN,"(2, nan)"
15,NaN,NaN,NaN,NaN,"(2, nan)"
16,NaN,"(3, nan)",NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,"(1, nan)",NaN,"(1, nan)",NaN
19,"(1, nan)",NaN,NaN,NaN,NaN
20,NaN,NaN,"(4, nan)",NaN,"(2, nan)"
21,NaN,"(1, nan)",NaN,NaN,"(2, nan)"
22,NaN,NaN,NaN,NaN,"(1, nan)"
23,NaN,NaN,NaN,NaN,"(1, nan)"
24,"(4, nan)",NaN,NaN,NaN,NaN
25,"(1, nan)",NaN,NaN,NaN,"(1, nan)"
26,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,"(1, nan)"
29,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
6042,NaN,NaN,NaN,NaN,NaN
6043,NaN,NaN,NaN,NaN,NaN
6044,NaN,NaN,NaN,NaN,NaN
6045,NaN,NaN,NaN,NaN,NaN
6046,NaN,NaN,NaN,NaN,NaN
6047,NaN,NaN,NaN,NaN,NaN
6048,NaN,NaN,NaN,NaN,NaN
6049,NaN,NaN,NaN,NaN,NaN
6050,NaN,NaN,NaN,NaN,NaN
6051,NaN,NaN,NaN,NaN,NaN
6052,NaN,NaN,NaN,NaN,NaN
6053,NaN,NaN,NaN,NaN,NaN
6054,NaN,NaN,NaN,NaN,NaN
6055,NaN,NaN,NaN,NaN,NaN
6056,NaN,NaN,NaN,NaN,NaN
6057,NaN,NaN,NaN,NaN,NaN
6058,NaN,NaN,NaN,NaN,NaN
6059,NaN,NaN,NaN,NaN,NaN
6060,NaN,NaN,NaN,NaN,NaN
6061,NaN,NaN,NaN,NaN,NaN
6062,NaN,NaN,NaN,NaN,NaN
6063,NaN,NaN,NaN,NaN,NaN
6064,NaN,NaN,NaN,NaN,NaN
6065,NaN,NaN,NaN,NaN,NaN
6066,NaN,NaN,NaN,NaN,NaN
6067,NaN,NaN,NaN,NaN,NaN
6068,NaN,NaN,NaN,NaN,NaN
6069,NaN,NaN,NaN,NaN,NaN
6070,NaN,NaN,NaN,NaN,NaN
6071,NaN,NaN,NaN,NaN,NaN

In [48]:
# adding two tables to main table
data_managable = pd.concat([data_managable, PG_without_spoiler_dataframe, PG_with_spoiler_dataframe],axis=1)
data_managable;

# Adding PG detail

In [49]:
data_managable['PG detail'] = data['PG detail']

# Adding PG country

In [50]:
data_managable['PG Country'] = data['PG Country']

In [51]:
data_managable.head()

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,...,Profanity - wos,"Alcohol, Drugs & Smoking - wos",Frightening & Intense Scenes - wos,Sex & Nudity - ws,Violence & Gore - ws,Profanity - ws,"Alcohol, Drugs & Smoking - ws",Frightening & Intense Scenes - ws,PG detail,PG Country
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013",...,"(4, Severe)","(9, Severe)","(3, Moderate)",NaN,NaN,NaN,NaN,"(2, nan)",Rated R for sequences of strong sexual content...,"{'Argentina': '16', 'Australia': 'MA15+', 'Bra..."
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013",...,"(2, Moderate)","(1, None)","(4, Moderate)",NaN,"(1, nan)",NaN,NaN,"(2, nan)","Rated PG-13 for intense perilous sequences, so...","{'Argentina': '13', 'Australia': 'M', 'Austria..."
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013",...,"(1, Mild)","(4, Mild)","(5, Moderate)","(1, nan)",NaN,NaN,NaN,"(5, nan)",Rated PG-13 for sequences of intense sci-fi ac...,"{'Argentina': '13', 'Australia': 'M', 'Austria..."
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013",...,"(2, Mild)","(2, Mild)","(7, Moderate)","(1, nan)","(1, nan)",NaN,NaN,NaN,Rated PG-13 for intense sequences of sci-fi vi...,"{'Argentina': '13', 'Australia': 'M', 'Austria..."
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013",...,"(3, Severe)","(3, Mild)","(3, Severe)",NaN,NaN,NaN,NaN,NaN,"Rated R for violence/cruelty, some nudity and ...","{'Argentina': '16', 'Australia': 'MA15+', 'Aus..."

# Voting rating disro  - expanding data into column

In [52]:
VD = []
for i in range(len(data['vote_distro'])):
    try:
        vote_distro_percent = pd.DataFrame(eval(data['vote_distro'].values[i]))['Unnamed: 1'].apply(vStr2Percent).to_numpy()
        vote_distro_num = pd.DataFrame(eval(data['vote_distro'].values[i]))['Votes'].to_numpy()
        VD.append(list(zip(vote_distro_percent, vote_distro_num)))
    except:
        VD.append(np.NaN)

In [53]:
rating_distro = {}
l = []
for rating in range(10):
    for j in range(len(VD)):
        try:
            l.append(VD[j][rating])
        except:
            l.append(np.NaN)
    rating_distro['Rating %d (Percent , Vote Num)'%(10 - rating)] = l
    l = []

In [54]:
# creading dataframe
rating_distro_dataframe = pd.DataFrame(rating_distro)

In [55]:
rating_distro_dataframe

,"Rating 10 (Percent , Vote Num)","Rating 9 (Percent , Vote Num)","Rating 8 (Percent , Vote Num)","Rating 7 (Percent , Vote Num)","Rating 6 (Percent , Vote Num)","Rating 5 (Percent , Vote Num)","Rating 4 (Percent , Vote Num)","Rating 3 (Percent , Vote Num)","Rating 2 (Percent , Vote Num)","Rating 1 (Percent , Vote Num)"
0,"(18.9, 198685)","(26.5, 278796)","(29.1, 305984)","(14.9, 156924)","(5.3, 55685)","(2.1, 22050)","(1.0, 10339)","(0.7, 6926)","(0.5, 5118)","(1.0, 10783)"
1,"(13.2, 94858)","(19.1, 137325)","(27.3, 195718)","(20.5, 147322)","(9.6, 69230)","(4.2, 29978)","(2.0, 14370)","(1.2, 8947)","(0.9, 6404)","(1.9, 13379)"
2,"(11.2, 78916)","(10.7, 74973)","(24.5, 172181)","(28.3, 198766)","(14.4, 101226)","(5.5, 38835)","(2.2, 15632)","(1.2, 8179)","(0.6, 4367)","(1.4, 9637)"
3,"(13.8, 89824)","(11.6, 75518)","(21.8, 142418)","(24.2, 158255)","(14.2, 92616)","(6.7, 43878)","(3.1, 20512)","(1.7, 11259)","(1.0, 6736)","(1.8, 12039)"
4,"(14.9, 86750)","(25.2, 147204)","(33.2, 193597)","(16.8, 98339)","(5.4, 31750)","(1.9, 11242)","(0.8, 4665)","(0.5, 2800)","(0.4, 2111)","(0.9, 5403)"
5,"(15.2, 88391)","(15.1, 87632)","(28.2, 163430)","(23.8, 138034)","(9.9, 57689)","(3.7, 21218)","(1.5, 8634)","(0.8, 4536)","(0.5, 2918)","(1.3, 7398)"
6,"(18.1, 103326)","(18.9, 107705)","(29.7, 169159)","(19.0, 108042)","(7.8, 44607)","(3.1, 17545)","(1.3, 7357)","(0.7, 3973)","(0.4, 2480)","(0.9, 5307)"
7,"(7.0, 39009)","(8.5, 47669)","(23.0, 128744)","(31.9, 178190)","(16.8, 93682)","(6.7, 37291)","(2.7, 15337)","(1.4, 7934)","(0.8, 4524)","(1.2, 6550)"
8,"(11.6, 64457)","(13.0, 72588)","(26.7, 149090)","(26.3, 146934)","(12.3, 68538)","(5.2, 28858)","(2.2, 12404)","(1.1, 6413)","(0.7, 3697)","(0.9, 5003)"
9,"(8.8, 48169)","(8.1, 44497)","(21.6, 118626)","(31.1, 171104)","(17.6, 96979)","(7.1, 38841)","(2.8, 15270)","(1.3, 7030)","(0.7, 3624)","(1.0, 5696)"
10,"(13.1, 69979)","(25.1, 134199)","(36.9, 197108)","(17.4, 92938)","(4.6, 24475)","(1.4, 7679)","(0.6, 2958)","(0.3, 1609)","(0.2, 1059)","(0.4, 2281)"
11,"(17.4, 91079)","(14.5, 75554)","(25.0, 130905)","(22.7, 118638)","(10.8, 56716)","(4.5, 23310)","(1.9, 9880)","(1.0, 5288)","(0.7, 3509)","(1.5, 7931)"
12,"(15.2, 72206)","(23.8, 112942)","(30.1, 142561)","(17.2, 81469)","(6.9, 32744)","(2.9, 13581)","(1.4, 6567)","(0.9, 4071)","(0.6, 2809)","(1.1, 5409)"
13,"(6.4, 29327)","(8.6, 39410)","(23.1, 105816)","(32.8, 150182)","(17.3, 79291)","(6.6, 30149)","(2.5, 11383)","(1.2, 5477)","(0.6, 2943)","(0.9, 4071)"
14,"(13.7, 61134)","(18.8, 84076)","(32.4, 145079)","(21.4, 95647)","(7.8, 35069)","(2.8, 12593)","(1.2, 5397)","(0.6, 2877)","(0.4, 1890)","(0.9, 3935)"
15,"(10.0, 44542)","(10.2, 45494)","(21.8, 97356)","(26.3, 117323)","(16.0, 71612)","(7.5, 33410)","(3.5, 15659)","(2.0, 8916)","(1.2, 5357)","(1.6, 7213)"
16,"(12.1, 52911)","(12.8, 56125)","(25.8, 113058)","(26.1, 114434)","(12.9, 56763)","(5.3, 23280)","(2.2, 9721)","(1.1, 4827)","(0.6, 2828)","(1.0, 4547)"
17,"(6.0, 25124)","(11.2, 47209)","(28.2, 118664)","(30.9, 130079)","(13.9, 58376)","(5.1, 21653)","(2.1, 8835)","(1.1, 4475)","(0.6, 2581)","(1.1, 4478)"
18,"(10.3, 42034)","(22.7, 92251)","(40.9, 166010)","(18.7, 75882)","(4.8, 19301)","(1.3, 5296)","(0.5, 1986)","(0.2, 991)","(0.2, 744)","(0.4, 1757)"
19,"(7.1, 28604)","(6.1, 24695)","(17.5, 71147)","(31.0, 125713)","(22.3, 90294)","(9.1, 37107)","(3.5, 14148)","(1.6, 6404)","(0.8, 3253)","(1.0, 4221)"
20,"(13.0, 52558)","(15.0, 60690)","(30.1, 121817)","(24.6, 99597)","(10.0, 40591)","(3.7, 14911)","(1.5, 6029)","(0.8, 3121)","(0.5, 1883)","(0.8, 3131)"
21,"(4.2, 16718)","(5.1, 20507)","(16.4, 65326)","(32.3, 128900)","(24.9, 99325)","(9.8, 39063)","(3.7, 14809)","(1.7, 6663)","(0.8, 3378)","(1.0, 4131)"
22,"(14.9, 59187)","(25.4, 100995)","(35.1, 139746)","(17.3, 68997)","(4.5, 18028)","(1.3, 5334)","(0.5, 1954)","(0.2, 984)","(0.2, 767)","(0.4, 1758)"
23,"(10.2, 39993)","(19.3, 75369)","(38.2, 149256)","(22.6, 88508)","(6.4, 25121)","(1.8, 6971)","(0.6, 2302)","(0.3, 1157)","(0.2, 782)","(0.4, 1617)"
24,"(8.8, 32910)","(9.1, 34155)","(22.9, 85779)","(32.1, 120271)","(16.5, 62063)","(6.0, 22499)","(2.3, 8633)","(1.0, 3933)","(0.6, 2321)","(0.7, 2600)"
25,"(8.6, 31250)","(8.1, 29514)","(17.9, 65206)","(24.9, 90719)","(17.7, 64503)","(9.4, 34257)","(4.8, 17454)","(2.9, 10659)","(2.0, 7421)","(3.5, 12660)"
26,"(16.0, 55958)","(10.2, 35779)","(21.5, 75337)","(26.0, 91028)","(14.1, 49175)","(5.8, 20400)","(2.4, 8543)","(1.3, 4714)","(0.8, 2800)","(1.8, 6259)"
27,"(13.1, 45511)","(12.1, 42081)","(27.4, 95343)","(27.8, 96646)","(12.3, 42819)","(4.1, 14088)","(1.5, 5254)","(0.7, 2355)","(0.4, 1430)","(0.6, 2257)"
28,"(9.0, 26620)","(10.0, 29728)","(27.7, 81938)","(32.3, 95779)","(14.0, 41351)","(4.3, 12631)","(1.4, 4194)","(0.6, 1703)","(0.3, 852)","(0.4, 1311)"
29,"(11.2, 31121)","(13.7, 37965)","(28.1, 77769)","(26.2, 72602)","(12.1, 33456)","(4.6, 12789)","(1.9, 5139)","(0.9, 2525)","(0.5, 1486)","(0.9, 2395)"
...,...,...,...,...,...,...,...,...,...,...
6042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6043,"(26.4, 393)","(10.3, 154)","(15.0, 223)","(14.6, 218)","(8.5, 126)","(7.1, 106)","(3.6, 53)","(3.2, 48)","(3.0, 45)","(8.3, 123)"
6044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6045,"(15.6, 5)","(9.4, 3)","(21.9, 7)","(12.5, 4)","(12.5, 4)","(3.1, 1)","(3.1, 1)","(9.4, 3)","(3.1, 1)","(9.4, 3)"
6046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6047,"(40.1, 737)","(21.0, 385)","(19.9, 365)","(9.3, 171)","(3.0, 56)","(1.3, 24)","(1.1, 21)","(0.5, 9)","(1.0, 19)","(2.7, 50)"
6048,"(15.6, 5)","(6.2, 2)","(28.1, 9)","(21.9, 7)","(6.2, 2)","(3.1, 1)","(6.2, 2)","(6.2, 2)","(3.1, 1)","(3.1, 1)"
6049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6060,"(18.8, 6)","(9.4, 3)","(21.9, 7)","(12.5, 4)","(3.1, 1)","(6.2, 2)","(3.1, 1)","(9.4, 3)","(3.1, 1)","(12.5, 4)"
6061,"(8.0, 64)","(8.9, 71)","(24.9, 199)","(31.7, 253)","(15.4, 123)","(4.6, 37)","(2.0, 16)","(2.1, 17)","(0.8, 6)","(1.5, 12)"
6062,"(19.4, 358)","(6.6, 121)","(11.3, 208)","(15.9, 293)","(14.6, 270)","(9.6, 178)","(5.8, 108)","(4.0, 74)","(3.8, 70)","(9.0, 167)"
6063,"(6.2, 2)","(3.1, 1)","(18.8, 6)","(15.6, 5)","(9.4, 3)","(15.6, 5)","(9.4, 3)","(6.2, 2)","(6.2, 2)","(9.4, 3)"
6064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6068,"(24.0, 182)","(18.6, 141)","(23.1, 175)","(16.3, 124)","(6.7, 51)","(2.8, 21)","(1.7, 13)","(2.2, 17)","(1.3, 10)","(3.3, 25)"
6069,"(40.1, 737)","(21.0, 385)","(19.9, 365)","(9.3, 171)","(3.0, 56)","(1.3, 24)","(1.1, 21)","(0.5, 9)","(1.0, 19)","(2.7, 50)"
6070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Adding to main dataframe
data_managable =  pd.concat([data_managable,rating_distro_dataframe],axis=1)
data_managable

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,...,"Rating 10 (Percent , Vote Num)","Rating 9 (Percent , Vote Num)","Rating 8 (Percent , Vote Num)","Rating 7 (Percent , Vote Num)","Rating 6 (Percent , Vote Num)","Rating 5 (Percent , Vote Num)","Rating 4 (Percent , Vote Num)","Rating 3 (Percent , Vote Num)","Rating 2 (Percent , Vote Num)","Rating 1 (Percent , Vote Num)"
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013",...,"(18.9, 198685)","(26.5, 278796)","(29.1, 305984)","(14.9, 156924)","(5.3, 55685)","(2.1, 22050)","(1.0, 10339)","(0.7, 6926)","(0.5, 5118)","(1.0, 10783)"
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013",...,"(13.2, 94858)","(19.1, 137325)","(27.3, 195718)","(20.5, 147322)","(9.6, 69230)","(4.2, 29978)","(2.0, 14370)","(1.2, 8947)","(0.9, 6404)","(1.9, 13379)"
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013",...,"(11.2, 78916)","(10.7, 74973)","(24.5, 172181)","(28.3, 198766)","(14.4, 101226)","(5.5, 38835)","(2.2, 15632)","(1.2, 8179)","(0.6, 4367)","(1.4, 9637)"
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013",...,"(13.8, 89824)","(11.6, 75518)","(21.8, 142418)","(24.2, 158255)","(14.2, 92616)","(6.7, 43878)","(3.1, 20512)","(1.7, 11259)","(1.0, 6736)","(1.8, 12039)"
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013",...,"(14.9, 86750)","(25.2, 147204)","(33.2, 193597)","(16.8, 98339)","(5.4, 31750)","(1.9, 11242)","(0.8, 4665)","(0.5, 2800)","(0.4, 2111)","(0.9, 5403)"
5,The Hunger Games: Catching Fire,2013,Centralmovies|Kinotab.com|,USA,English,22 November 2013 (USA),The Hunger Games 2,"Atlanta, Georgia, USA","$130,000,000 (estimated)","$158,074,286,24 November 2013",...,"(15.2, 88391)","(15.1, 87632)","(28.2, 163430)","(23.8, 138034)","(9.9, 57689)","(3.7, 21218)","(1.5, 8634)","(0.8, 4536)","(0.5, 2918)","(1.3, 7398)"
6,The Hobbit: The Desolation of Smaug,2013,Centralmoviesth|Official site|,USA|New Zealand,English,13 December 2013 (USA),The Hobbit Part 2,"Stone Street Studios, Stone Street, Miramar, W...","$225,000,000 (estimated)","$73,645,197,15 December 2013",...,"(18.1, 103326)","(18.9, 107705)","(29.7, 169159)","(19.0, 108042)","(7.8, 44607)","(3.1, 17545)","(1.3, 7357)","(0.7, 3973)","(0.4, 2480)","(0.9, 5307)"
7,World War Z,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK|Malta,English|Spanish|Hebrew|Arabic,21 June 2013 (USA),Guerra mundial Z,"Lulworth Cove, Weymouth, Dorset, England, UK","$190,000,000 (estimated)","$66,411,834,23 June 2013",...,"(7.0, 39009)","(8.5, 47669)","(23.0, 128744)","(31.9, 178190)","(16.8, 93682)","(6.7, 37291)","(2.7, 15337)","(1.4, 7934)","(0.8, 4524)","(1.2, 6550)"
8,Now You See Me,2013,Official Facebook|Official site [Japan]|,USA|France,English|French,31 May 2013 (USA),Now You See Me,"Orpheum Theater - 842 South Broadway, Downtown...","$75,000,000 (estimated)","$29,350,389,2 June 2013",...,"(11.6, 64457)","(13.0, 72588)","(26.7, 149090)","(26.3, 146934)","(12.3, 68538)","(5.2, 28858)","(2.2, 12404)","(1.1, 6413)","(0.7, 3697)","(0.9, 5003)"
9,Thor: The Dark World,2013,Official Facebook|Official site [Japan]|,USA,English,8 November 2013 (USA),Thor 2,"Shepperton Studios, Shepperton, Surrey, Englan...","$170,000,000 (estimated)","$85,737,841,10 November 2013",...,"(8.8, 48169)","(8.1, 44497)","(21.6, 118626)","(31.1, 171104)","(17.6, 96979)","(7.1, 38841)","(2.8, 15270)","(1.3, 7030)","(0.7, 3624)","(1.0, 5696)"
10,Prisoners,2013,Official site|Official site [Japan],USA,English,20 September 2013 (USA),Prisoners,"Conyers, Georgia, USA","$46,000,000 (estimated)","$20,817,053,22 September 2013",...,"(13.1, 69979)","(25.1, 134199)","(36.9, 197108)","(17.4, 92938)","(4.6, 24475)","(1.4, 7679)","(0.6, 2958)","(0.3, 1609)","(0.2, 1059)","(0.4, 2281)"
11,Frozen,2013,Official Facebook Page|Official Facebook Page ...,USA,English|Norwegian,27 November 2013 (USA),The Snow Queen,Walt Disney Animation Studios - 2100 W Riversi...,"$150,000,000 (estimated)","$243,390,24 November 2013",...,"(17.4, 91079)","(14.5, 75554)","(25.0, 130905)","(22.7, 118638)","(10.8, 56716)","(4.5, 23310)","(1.9, 9880)","(1.0, 5288)","(0.7, 3509)","(1.5, 7931)"
12,Her,2013,Official Facebook|Official site|,USA,English,10 January 2014 (USA),Her,"Los Angeles, California, USA","$23,000,000 (estimated)","$260,382,22 December 2013",...,"(15.2, 72206)","(23.8, 112942)","(30.1, 142561)","(17.2, 81469)","(6.9, 32744)","(2.9, 13581)","(1.4, 6567)","(0.9, 4071)","(0.6, 2809)","(1.1, 5409)"
13,Oblivion,2013,Official Facebook|Official site|,USA,English,19 April 2013 (USA),Horizons,"New York City, New York, USA","$120,000,000 (estimated)","$37,054,485,21 April 2013",...,"(6.4, 29327)","(8.6, 39410)","(23.1, 105816)","(32.8, 150182)","(17.3, 79291)","(6.6, 30149)","(2.5, 11383)","(1.2, 5477)","(0.6, 2943)","(0.9, 4071)"
14,Star Trek Into Darkness,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Klingon,16 May 2013 (USA),Star Trek 2,Lawrence Livermore National Laboratory - 7000 ...,"$190,000,000 (estimated)","$70,165,559,19 May 2013",...,"(13.7, 61134)","(18.8, 84076)","(32.4, 145079)","(21.4, 95647)","(7.8, 35069)","(2.8, 12593)","(1.2, 5397)","(0.6, 2877)","(0.4, 1890)","(0.9, 3935)"
15,Pacific Rim,2013,Official Facebook|Official site|,USA,English|Japanese|Cantonese|Mandarin,12 July 2013 (USA),Still Seas,"Pinewood Toronto Studios, Port Lands, Toronto,...","$190,000,000 (estimated)","$37,285,325,14 July 2013",...,"(10.0, 44542)","(10.2, 45494)","(21.8, 97356)","(26.3, 117323)","(16.0, 71612)","(7.5, 33410)","(3.5, 15659)","(2.0, 8916)","(1.2, 5357)","(1.6, 7213)"
16,The Great Gatsby,2013,Official Blog|Official Facebook|,Australia|USA,English,10 May 2013 (USA),The Great Gatsby,"Sydney Polo Club, Richmond, New South Wales, A...","$105,000,000 (estimated)","$50,085,185,12 May 2013",...,"(12.1, 52911)","(12.8, 56125)","(25.8, 113058)","(26.1, 114434)","(12.9, 56763)","(5.3, 23280)","(2.2, 9721)","(1.1, 4827)","(0.6, 2828)","(1.0, 4547)"
17,American Hustle,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Arabic,20 December 2013 (USA),American Bullshit,"Boston, Massachusetts, USA","$40,000,000 (estimated)","$740,455,15 December 2013",...,"(6.0, 25124)","(11.2, 47209)","(28.2, 118664)","(30.9, 130079)","(13.9, 58376)","(5.1, 21653)","(2.1, 8835)","(1.1, 4475)","(0.6, 2581)","(1.1, 4478)"
18,Dallas Buyers Club,2013,Official Facebook|Official site|,USA,English|Japanese,22 November 2013 (USA),Dallas Buyers Club,"New Orleans, Louisiana, USA","$5,000,000 (estimated)","$260,865,3 November 2013",...,"(10.3, 42034)","(22.7, 92251)","(40.9, 166010)","(18.7, 75882)","(4.8, 19301)","(1.3, 5296)","(0.5, 1986)","(0.2, 991)","(0.2, 744)","(0.4, 1757)"
19,The Wolverine,2013,Official Facebook|Official site|,USA|UK,English|Japanese,26 July 2013 (USA),Wolverine 2,"Fox Studios, Moore Park, Sydney, New South Wal...","$120,000,000 (estimated)","$53,113,752,28 July 2013",...,"(7.1, 28604)","(6.1, 24695)","(17.5, 71147)","(31.0, 125713)","(22.3, 90294)","(9.1, 37107)","(3.5, 14148)","(1.6, 6404)","(0.8, 3253)","(1.0, 4221)"
20,The Conjuring,2013,Official Facebook|Official Facebook [UK]|,USA,English|Latin,19 July 2013 (USA),The Warren Files,"Wilmington, North Carolina, USA","$20,000,000 (estimated)","$41,855,326,21 July 2013",...,"(13.0, 52558)","(15.0, 60690)","(30.1, 121817)","(24.6, 99597)","(10.0, 40591)","(3.7, 14911)","(1.5, 6029)","(0.8, 3121)","(0.5, 1883)","(0.8, 3131)"
21,Elysium,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Spanish|French|Afrikaans|Ukrainian,9 August 2013 (USA),Elysium,"British Columbia, Canada","$115,000,000 (estimated)","$29,807,393,11 August 2013",...,"(4.2, 16718)","(5.1, 20507)","(16.4, 65326)","(32.3, 128900)","(24.9, 99325)","(9.8, 39063)","(3.7, 14809)","(1.7, 6663)","(0.8, 3378)","(1.0, 4131)"
22,Rush,2013,Official Facebook|Official site|,UK|Germany|USA,English|German|Italian|French|Spanish,27 September 2013 (USA),Rush,"Evolution Printing, Stanhope Road, Camberley, UK","$38,000,000 (estimated)","$187,289,22 September 2013",...,"(14.9, 59187)","(25.4, 100995)","(35.1, 139746)","(17.3, 68997)","(4.5, 18028)","(1.3, 5334)","(0.5, 1954)","(0.2, 984)","(0.2, 767)","(0.4, 1758)"
23,Captain Phillips,2013,Official Facebook|Official site|,USA,English|Somali,11 October 2013 (USA),Maersk Alabama,Malta,"$55,000,000 (estimated)","$25,718,314,13 October 2013",...,"(10.2, 39993)","(19.3, 75369)","(38.2, 149256)","(22.6, 88508)","(6.4, 25121)","(1.8, 6971)","(0.6, 2302)","(0.3, 1157)","(0.2, 782)","(0.4, 1617)"
24,We're the Millers,2013,Official Google+|Official site|,USA|UK,English|Spanish,7 August 2013 (USA),We're the Millers,"420 Market Street, Wilmington, North Carolina,...","$37,000,000 (estimated)","$26,419,396,11 August 2013",...,"(8.8, 32910)","(9.1, 34155)","(22.9, 85779)","(32.1, 120271)","(16.5, 62063)","(6.0, 22499)","(2.3, 8633)","(1.0, 3933)","(0.6, 2321)","(0.7, 2600)"
25,This Is the End,2013,Official Facebook|Official site|,USA,English|Spanish,12 June 2013 (USA),Jay and Seth Vs. the Apocolapyse,"New Orleans, Louisiana, USA","$32,000,000 (estimated)","$20,719,162,16 June 2013",...,"(8.6, 31250)","(8.1, 29514)","(17.9, 65206)","(24.9, 90719)","(17.7, 64503)","(9.4, 34257)","(4.8, 17454)","(2.9, 10659)","(2.0, 7421)","(3.5, 12660)"
26,Furious 6,2013,Official Facebook,USA|Japan|Spain|UK,English|Spanish|Russian|Japanese|Cantonese|Dutch,24 May 2013 (USA),Fast 6,"Shepperton Studios, Shepperton, Surrey, Englan...","$160,000,000 (estimated)","$97,375,245,26 May 2013",...,"(16.0, 55958)","(10.2, 35779)","(21.5, 75337)","(26.0, 91028)","(14.1, 49175)","(5.8, 20400)","(2.4, 8543)","(1.3, 4714)","(0.8, 2800)","(1.8, 6259)"
27,Despicable Me 2,2013,Official Facebook|Official site|,USA|France|Japan,English|Ukrainian,3 July 2013 (USA),Despicable Me 2,NaN,"$76,000,000 (estimated)","$83,517,315,7 July 2013",...,"(13.1, 45511)","(12.1, 42081)","(27.4, 95343)","(27.8, 96646)","(12.3, 42819)","(4.1, 14088)","(1.5, 5254)","(0.7, 2355)","(0.4, 1430)","(0.6, 2257)"
28,Monsters University,2013,Official Facebook|Official site|,USA,English,21 June 2013 (USA),Monsters Inc. 2,"Pixar Animation Studios - 1200 Park Avenue, Em...","$200,000,000 (estimated)","$82,429,469,23 June 2013",...,"(9.0, 26620)","(10.0, 29728)","(27.7, 81938)","(32.3, 95779)","(14.0, 41351)","(4.3, 12631)","(1.4, 4194)","(0.6, 1703)","(0.3, 852)","(0.4, 1311)"
29,The Secret Life of Walter Mitty,2013,Official site [Japan]|Official Website,USA|UK,English|Spanish|Icelandic,25 December 2013 (USA),The Secret Life of Walter Mitty,"Los Angeles, California, USA","$90,000,000 (estimated)","$12,765,508,29 December 2013",...,"(11.2, 31121)","(13.7, 37965)","(28.1, 77769)","(26.2, 72602)","(12.1, 33456)","(4.6, 12789)","(1.9, 5139)","(0.9, 2525)","(0.5, 1486)","(0.9, 2395)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6042,Indie Director,2013,NaN,USA,English,25 May 2013 (USA),Indie Director - Actor's Cut,NaN,"$5,000 (estimated)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6043,Save Me,,Official Site,USA,English,2013 (USA),Mennyei tippek,NaN,NaN,NaN,...,"(26.4, 393)","(10.3, 154)","(15.0, 223)","(14.6, 218)","(8.5, 126)","(7.1, 106)","(3.6, 53)","(3.2, 48)","(3.0, 45)","(8.3, 123)"
6044,After Life,2013,Official site,USA,English,NaN,NaN,"Lake Mills, Iowa, USA","$400,000 (estimated)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6045,Pouco Mais de um Mês,2013,Official site,Brazil,Portuguese,January 2013 (Brazil),About a Month,NaN,NaN,NaN,...,"(15.6, 5)","(9.4, 3)","(21.9, 7)","(12.5, 4)","(12.5, 4)","(3.1, 1)","(3.1, 1)","(9.4, 3)","(3.1, 1)","(9.4, 3)"
6046,Casting,2013,Official site [Spain],Spain,Spanish,22 November 2013 (Spain),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6047,Zach Stone Is Gonna Be Famous,,NaN,USA,English,2 May 2013 (USA),Zach Stone bedzie slawny,NaN,NaN,NaN,...,"(40.1, 737)","(21.0, 385)","(19.9, 365)","(9.3, 171)","(3.0, 56)","(1.3, 24)","(1.1, 21)","(0.5, 9)","(1.0, 19)","(2.7, 50)"
6048,Tin & Tina,2013,Official site,Spain,Spanish|English,April 2013 (Spain),NaN,NaN,"$35,000 (estimated)",NaN,...,"(15.6, 5)","(6.2, 2)","(28.1, 9)","(21.9, 7)","(6.2, 2)","(3.1, 1)","(6.2, 2)","(6.2, 2)","(3.1, 1)","(3.1, 1)"
6049,Straight Down Low,2013,Official Facebook,USA,English,June 2013 (USA),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6050,Edge of Dawn,2013,Official site|Official site,USA,English,2013 (USA),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6051,Le prochain film,2013,NaN,France,French,21 August 2013 (France),The Film to Come,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6052,The Bucuresti Experiment,2013,NaN,Romania,Romanian,6 June 2013 (Romania),Experimentul Bucuresti,Romania,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6053,Pajama Nightmare,2013,NaN,USA,English,26 March 2013 (USA),NaN,"Athens, Georgia, USA","$2,000 (estimated)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6054,My Atomic Aunt,2013,NaN,Germany,Japanese,8 March 2013 (Japan),Beyond the Wave,"Fukushima, Japan",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6055,Horizonte,2013,Official site,Spain,Spanish,September 2013 (Portugal),Horizon,NaN,"EUR42,000 (estimated)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6056,Adam,2013,NaN,Indonesia|Israel|USA,Hebrew,2013 (Israel),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6057,This Way Out,2013,Official site|Official site,UK,English,28 June 2013 (USA),Vészkijárat,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6058,Don't Call It A Comeback,2013,NaN,USA,English,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6059,Auschwitz on My Mind,2013,NaN,Israel|Poland|UK,Hebrew,2013 (Israel),Lizkor Ve Lo Lishkoakh,"Auschwitz-Birkenau Concentration Camp, Oswieci...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6060,La festa,2013,Official site,Italy,Italian,31 October 2013 (Italy),NaN,"Genova, Liguria, Italy","EUR200,000 (estimated)",NaN,...,"(18.8, 6)","(9.4, 3)","(21.9, 7)","(12.5, 4)","(3.1, 1)","(6.2, 2)","(3.1, 1)","(9.4, 3)","(3.1, 1)","(12.5, 4)"
6061,En pilgrims död,,Sveriges Television (SVT) [Sweden],Sweden|Denmark|Norway|Finland,Swedish|English|Spanish,13 January 2013 (Sweden),Death of a Pilgrim,"Stockholm, Stockholms län, Sweden",NaN,NaN,...,"(8.0, 64)","(8.9, 71)","(24.9, 199)","(31.7, 253)","(15.4, 123)","(4.6, 37)","(2.0, 16)","(2.1, 17)","(0.8, 6)","(1.5, 12)"
6062,How to Live with Your Parents For the Rest of ...,,NaN,USA,English,3 April 2013 (USA),How to Live With Your Parents,NaN,NaN,NaN,...,"(19.4, 358)","(6.6, 121)","(11.3, 208)","(15.9, 293)","(14.6, 270)","(9.6, 178)","(5.8, 108)","(4.0, 74)","(3.8, 70)","(9.0, 167)"
6063,I kærlighedens navn,2013,NaN,Denmark,English,15 February 2013 (Denmark),Just the Right Amount of Violence,"Los Angeles, California, USA","EUR1,200,000 (estimated)",NaN,...,"(6.2, 2)","(3.1, 1)","(18.8, 6)","(15.6, 5)","(9.4, 3)","(15.6, 5)","(9.4, 3)","(6.2, 2)","(6.2, 2)","(9.4, 3)"
6064,Weekendfar,2013,NaN,Denmark,Danish,5 September 2013 (Denmark),Wochenend-Papa,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6065,Left,2013,Official site,Ireland|UK,English,21 June 2013 (UK),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6066,Algonquin,2013,Official Facebook|Official site,Canada,English,24 August 2013 (Canada),Losing My Edge,"North Bay, Ontario, Canada",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6067,Shanidâru no hana,2013,NaN,Japan,Japanese,20 July 2013 (Japan),Flower of Shanidar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6068,Mr & Mrs Murder,,NaN,Australia,English,20 February 2013 (Australia),NaN,"Melbourne, Victoria, Australia",NaN,NaN,...,"(24.0, 182)","(18.6, 141)","(23.1, 175)","(16.3, 124)","(6.7, 51)","(2.8, 21)","(1.7, 13)","(2.2, 17)","(1.3, 10)","(3.3, 25)"
6069,Zach Stone Is Gonna Be Famous,,NaN,USA,English,2 May 2013 (USA),Zach Stone bedzie slawny,NaN,NaN,NaN,...,"(40.1, 737)","(21.0, 385)","(19.9, 365)","(9.3, 171)","(3.0, 56)","(1.3, 24)","(1.1, 21)","(0.5, 9)","(1.0, 19)","(2.7, 50)"
6070,Unter Menschen,2013,Official site [Germany],Germany|Austria|Hungary,German,21 March 2013 (Germany),Redemption Impossible,"Gänserndorf, Lower Austria, Austria",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6071,Forty Years from Yesterday,2013,Official Facebook|Official site,USA,English,16 June 2013 (USA),NaN,"King City, California, USA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Adding Voting age distro

In [57]:
vote_age_keys = ['All Ages', '<18', '18-29', '30-44', '45+']
nan_array = [np.NaN]*len(vote_age_keys)
all_vote = []
male = []
female = []
for i in range(len(data['age_of_voter_distro'])):
    try:
        raw_table = table_spread(i, data['age_of_voter_distro'])
        all_vote.append(raw_table[0])
        male.append(raw_table[1])
        female.append(raw_table[2])
    except:
        all_vote.append(nan_array )
        male.append(nan_array )
        female.append(nan_array )

In [58]:
all_vote = np.array(all_vote)
male = np.array(male)
female = np.array(female)

In [59]:
vote_all_age_distro = {'AllGender All Ages':all_vote[:,0],
                       'AllGender <18':all_vote[:,1],
                       'AllGender 18-29':all_vote[:,2], 
                       'AllGender 30-44':all_vote[:,3], 
                       'AllGender 45+':all_vote[:,4]}

In [60]:
vote_male_age_distro = {'Male All Ages':male[:,0],
                        'Male <18':male[:,1],
                        'Male 18-29':male[:,2], 
                        'Male 30-44':male[:,3], 
                        'Male 45+':male[:,4]}

In [61]:
vote_female_age_distro = {'Female All Ages':female[:,0],
                          'Female <18':female[:,1],
                          'Female 18-29':female[:,2],
                          'Female 30-44':female[:,3],
                          'Female 45+':female[:,4]}

In [62]:
All_age_and_sex_dist = pd.DataFrame(vote_all_age_distro)

In [63]:
All_age_male_dist =  pd.DataFrame(vote_male_age_distro)

In [64]:
All_age_female_dist = pd.DataFrame(vote_female_age_distro)

In [65]:
data_managable = pd.concat([data_managable,All_age_and_sex_dist],axis=1)

In [66]:
data_managable = pd.concat([data_managable,All_age_male_dist,All_age_female_dist],axis=1)

In [67]:
data_managable

,Title,Year,Official Sites,Country,Language,Release Date,Also Known As,Filming Locations,Budget,Opening Weekend USA,...,Male All Ages,Male <18,Male 18-29,Male 30-44,Male 45+,Female All Ages,Female <18,Female 18-29,Female 30-44,Female 45+
0,The Wolf of Wall Street,2013,Official Facebook,USA,English|French,25 December 2013 (USA),The Wolf of Wall Street,"New York City, New York, USA","$100,000,000 (estimated)","$18,361,578,29 December 2013",...,"[8.2, 637,133]","[8.7, 949]","[8.5, 266,199]","[8.1, 259,640]","[7.7, 47,252]","[7.8, 141,825]","[8.1, 190]","[7.9, 67,506]","[7.7, 51,333]","[7.5, 9,090]"
1,Gravity,2013,Official Facebook|Official site|,UK|USA,English|Greenlandic,4 October 2013 (USA),Gravity,"Lake Powell, Arizona, USA","$100,000,000 (estimated)","$55,785,112,6 October 2013",...,"[7.8, 469,437]","[7.5, 488]","[7.8, 161,198]","[7.8, 219,739]","[7.7, 50,325]","[7.5, 97,380]","[7.0, 94]","[7.5, 38,863]","[7.5, 40,952]","[7.4, 8,897]"
2,Iron Man Three,2013,Official Facebook|Official Facebook Game|,USA,English,3 May 2013 (USA),Caged Heat,"Cary, North Carolina, USA","$200,000,000 (estimated)","$174,144,585,5 May 2013",...,"[7.1, 453,036]","[7.2, 941]","[7.2, 174,412]","[7.0, 194,342]","[7.1, 38,215]","[7.6, 85,976]","[7.9, 175]","[7.7, 38,454]","[7.4, 31,215]","[7.5, 6,787]"
3,Man of Steel,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK,English,14 June 2013 (USA),Superman: Man of Steel,"Lone Pine, California, USA","$225,000,000 (estimated)","$116,619,362,16 June 2013",...,"[7.1, 443,518]","[6.7, 633]","[7.1, 158,126]","[7.0, 201,729]","[7.0, 40,136]","[7.0, 68,761]","[6.9, 83]","[6.9, 27,559]","[6.9, 27,871]","[7.1, 6,356]"
4,12 Years a Slave,2013,Official Facebook|Official site|,USA|UK,English,8 November 2013 (USA),Twelve Years a Slave,"New Orleans, Louisiana, USA","$20,000,000 (estimated)","$923,715,20 October 2013",...,"[8.1, 354,581]","[8.5, 358]","[8.2, 139,522]","[8.0, 153,117]","[7.8, 32,063]","[8.1, 93,368]","[8.4, 108]","[8.3, 42,529]","[8.0, 34,695]","[8.1, 7,627]"
5,The Hunger Games: Catching Fire,2013,Centralmovies|Kinotab.com|,USA,English,22 November 2013 (USA),The Hunger Games 2,"Atlanta, Georgia, USA","$130,000,000 (estimated)","$158,074,286,24 November 2013",...,"[7.3, 328,193]","[7.4, 418]","[7.6, 128,914]","[7.2, 141,074]","[7.1, 29,376]","[8.1, 122,746]","[8.0, 213]","[8.2, 62,102]","[7.9, 40,302]","[7.8, 7,535]"
6,The Hobbit: The Desolation of Smaug,2013,Centralmoviesth|Official site|,USA|New Zealand,English,13 December 2013 (USA),The Hobbit Part 2,"Stone Street Studios, Stone Street, Miramar, W...","$225,000,000 (estimated)","$73,645,197,15 December 2013",...,"[7.8, 366,946]","[7.7, 488]","[7.9, 146,821]","[7.7, 157,371]","[7.6, 31,267]","[8.1, 79,760]","[8.3, 90]","[8.2, 37,589]","[7.9, 29,269]","[8.0, 5,805]"
7,World War Z,2013,Official Facebook|Official Facebook [Brazil]|,USA|UK|Malta,English|Spanish|Hebrew|Arabic,21 June 2013 (USA),Guerra mundial Z,"Lulworth Cove, Weymouth, Dorset, England, UK","$190,000,000 (estimated)","$66,411,834,23 June 2013",...,"[6.9, 375,100]","[7.1, 385]","[7.0, 129,139]","[6.9, 175,534]","[6.9, 37,540]","[7.1, 68,859]","[7.3, 68]","[7.1, 26,825]","[7.0, 29,031]","[7.1, 6,248]"
8,Now You See Me,2013,Official Facebook|Official site [Japan]|,USA|France,English|French,31 May 2013 (USA),Now You See Me,"Orpheum Theater - 842 South Broadway, Downtown...","$75,000,000 (estimated)","$29,350,389,2 June 2013",...,"[7.2, 339,495]","[7.4, 429]","[7.4, 133,455]","[7.0, 148,014]","[7.0, 29,008]","[7.6, 99,671]","[8.1, 173]","[7.8, 49,088]","[7.4, 34,349]","[7.5, 6,107]"
9,Thor: The Dark World,2013,Official Facebook|Official site [Japan]|,USA,English,8 November 2013 (USA),Thor 2,"Shepperton Studios, Shepperton, Surrey, Englan...","$170,000,000 (estimated)","$85,737,841,10 November 2013",...,"[6.9, 339,725]","[6.2, 809]","[6.9, 129,990]","[6.8, 147,713]","[6.9, 28,932]","[7.4, 78,184]","[7.4, 160]","[7.4, 35,697]","[7.2, 28,587]","[7.4, 5,892]"
10,Prisoners,2013,Official site|Official site [Japan],USA,English,20 September 2013 (USA),Prisoners,"Conyers, Georgia, USA","$46,000,000 (estimated)","$20,817,053,22 September 2013",...,"[8.1, 344,079]","[8.6, 336]","[8.3, 134,729]","[8.0, 153,562]","[7.8, 27,739]","[8.0, 68,939]","[8.5, 62]","[8.2, 29,814]","[7.9, 27,575]","[7.8, 5,381]"
11,Frozen,2013,Official Facebook Page|Official Facebook Page ...,USA,English|Norwegian,27 November 2013 (USA),The Snow Queen,Walt Disney Animation Studios - 2100 W Riversi...,"$150,000,000 (estimated)","$243,390,24 November 2013",...,"[7.3, 264,593]","[6.8, 590]","[7.4, 108,082]","[7.2, 110,235]","[7.3, 23,118]","[7.9, 131,823]","[7.6, 278]","[7.9, 67,154]","[7.8, 43,169]","[7.7, 7,567]"
12,Her,2013,Official Facebook|Official site|,USA,English,10 January 2014 (USA),Her,"Los Angeles, California, USA","$23,000,000 (estimated)","$260,382,22 December 2013",...,"[8.0, 288,333]","[8.7, 267]","[8.3, 112,927]","[7.9, 129,770]","[7.5, 24,809]","[7.8, 83,606]","[8.0, 96]","[7.9, 40,037]","[7.7, 31,782]","[7.1, 5,175]"
13,Oblivion,2013,Official Facebook|Official site|,USA,English,19 April 2013 (USA),Horizons,"New York City, New York, USA","$120,000,000 (estimated)","$37,054,485,21 April 2013",...,"[7.0, 325,534]","[7.1, 200]","[7.0, 96,422]","[7.0, 164,330]","[7.1, 39,125]","[6.7, 45,639]","[7.7, 27]","[6.8, 15,394]","[6.7, 20,988]","[6.9, 5,191]"
14,Star Trek Into Darkness,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Klingon,16 May 2013 (USA),Star Trek 2,Lawrence Livermore National Laboratory - 7000 ...,"$190,000,000 (estimated)","$70,165,559,19 May 2013",...,"[7.7, 306,865]","[7.5, 171]","[7.8, 89,647]","[7.6, 152,738]","[7.6, 39,839]","[8.0, 57,186]","[7.2, 29]","[8.1, 20,874]","[7.9, 23,943]","[8.1, 7,000]"
15,Pacific Rim,2013,Official Facebook|Official site|,USA,English|Japanese|Cantonese|Mandarin,12 July 2013 (USA),Still Seas,"Pinewood Toronto Studios, Port Lands, Toronto,...","$190,000,000 (estimated)","$37,285,325,14 July 2013",...,"[6.9, 315,240]","[7.1, 288]","[7.1, 101,669]","[6.8, 155,360]","[6.6, 32,082]","[7.0, 45,677]","[7.3, 32]","[7.2, 16,956]","[6.9, 20,067]","[6.8, 4,477]"
16,The Great Gatsby,2013,Official Blog|Official Facebook|,Australia|USA,English,10 May 2013 (USA),The Great Gatsby,"Sydney Polo Club, Richmond, New South Wales, A...","$105,000,000 (estimated)","$50,085,185,12 May 2013",...,"[7.2, 246,936]","[7.5, 224]","[7.4, 101,367]","[7.0, 107,382]","[6.8, 18,904]","[7.5, 100,543]","[8.1, 118]","[7.7, 50,893]","[7.3, 35,018]","[7.1, 5,563]"
17,American Hustle,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Arabic,20 December 2013 (USA),American Bullshit,"Boston, Massachusetts, USA","$40,000,000 (estimated)","$740,455,15 December 2013",...,"[7.3, 273,624]","[7.7, 108]","[7.4, 97,514]","[7.2, 127,121]","[7.3, 29,013]","[7.1, 66,600]","[7.3, 29]","[7.1, 27,502]","[7.0, 27,314]","[7.2, 6,319]"
18,Dallas Buyers Club,2013,Official Facebook|Official site|,USA,English|Japanese,22 November 2013 (USA),Dallas Buyers Club,"New Orleans, Louisiana, USA","$5,000,000 (estimated)","$260,865,3 November 2013",...,"[7.9, 255,186]","[8.1, 146]","[8.1, 97,201]","[7.9, 116,298]","[7.8, 23,414]","[8.1, 69,862]","[8.3, 39]","[8.1, 29,346]","[8.0, 28,763]","[8.0, 6,164]"
19,The Wolverine,2013,Official Facebook|Official site|,USA|UK,English|Japanese,26 July 2013 (USA),Wolverine 2,"Fox Studios, Moore Park, Sydney, New South Wal...","$120,000,000 (estimated)","$53,113,752,28 July 2013",...,"[6.7, 276,290]","[6.6, 406]","[6.8, 100,768]","[6.6, 127,205]","[6.7, 24,462]","[6.7, 44,215]","[7.2, 67]","[6.8, 18,448]","[6.6, 18,004]","[6.9, 3,675]"
20,The Conjuring,2013,Official Facebook|Official Facebook [UK]|,USA,English|Latin,19 July 2013 (USA),The Warren Files,"Wilmington, North Carolina, USA","$20,000,000 (estimated)","$41,855,326,21 July 2013",...,"[7.5, 245,494]","[7.8, 444]","[7.6, 97,366]","[7.4, 106,499]","[7.2, 19,548]","[7.5, 67,519]","[7.8, 125]","[7.5, 31,475]","[7.5, 24,464]","[7.5, 4,693]"
21,Elysium,2013,Official Facebook|Official Facebook [Brazil]|,USA,English|Spanish|French|Afrikaans|Ukrainian,9 August 2013 (USA),Elysium,"British Columbia, Canada","$115,000,000 (estimated)","$29,807,393,11 August 2013",...,"[6.6, 283,773]","[6.7, 142]","[6.7, 84,025]","[6.6, 145,244]","[6.6, 33,097]","[6.5, 40,559]","[7.2, 19]","[6.6, 13,335]","[6.4, 19,256]","[6.5, 4,613]"
22,Rush,2013,Official Facebook|Official site|,UK|Germany|USA,English|German|Italian|French|Spanish,27 September 2013 (USA),Rush,"Evolution Printing, Stanhope Road, Camberley, UK","$38,000,000 (estimated)","$187,289,22 September 2013",...,"[8.1, 274,388]","[8.1, 189]","[8.3, 105,088]","[8.0, 123,749]","[7.8, 24,218]","[8.0, 39,018]","[7.7, 27]","[8.2, 15,820]","[7.9, 16,381]","[7.8, 3,449]"
23,Captain Phillips,2013,Official Facebook|Official site|,USA,English|Somali,11 October 2013 (USA),Maersk Alabama,Malta,"$55,000,000 (estimated)","$25,718,314,13 October 2013",...,"[7.8, 269,804]","[8.1, 205]","[8.0, 94,264]","[7.7, 126,960]","[7.7, 27,394]","[7.9, 45,003]","[7.8, 29]","[7.9, 15,968]","[7.8, 19,779]","[7.9, 5,128]"
24,We're the Millers,2013,Official Google+|Official site|,USA|UK,English|Spanish,7 August 2013 (USA),We're the Millers,"420 Market Street, Wilmington, North Carolina,...","$37,000,000 (estimated)","$26,419,396,11 August 2013",...,"[7.0, 226,448]","[7.0, 205]","[7.1, 88,465]","[6.9, 100,089]","[6.8, 19,110]","[7.1, 72,823]","[7.3, 83]","[7.3, 36,520]","[6.9, 25,175]","[7.0, 4,333]"
25,This Is the End,2013,Official Facebook|Official site|,USA,English|Spanish,12 June 2013 (USA),Jay and Seth Vs. the Apocolapyse,"New Orleans, Louisiana, USA","$32,000,000 (estimated)","$20,719,162,16 June 2013",...,"[6.6, 242,302]","[7.0, 186]","[6.8, 95,867]","[6.5, 110,269]","[6.1, 18,227]","[6.4, 52,500]","[7.0, 32]","[6.5, 24,250]","[6.4, 20,519]","[6.1, 3,329]"
26,Furious 6,2013,Official Facebook,USA|Japan|Spain|UK,English|Spanish|Russian|Japanese|Cantonese|Dutch,24 May 2013 (USA),Fast 6,"Shepperton Studios, Shepperton, Surrey, Englan...","$160,000,000 (estimated)","$97,375,245,26 May 2013",...,"[7.0, 241,711]","[7.3, 299]","[7.2, 102,885]","[6.8, 100,544]","[6.7, 15,041]","[7.5, 37,762]","[8.1, 45]","[7.7, 16,901]","[7.3, 13,872]","[7.4, 2,562]"
27,Despicable Me 2,2013,Official Facebook|Official site|,USA|France|Japan,English|Ukrainian,3 July 2013 (USA),Despicable Me 2,NaN,"$76,000,000 (estimated)","$83,517,315,7 July 2013",...,"[7.3, 200,700]","[6.8, 443]","[7.4, 78,338]","[7.2, 86,985]","[7.3, 17,044]","[7.6, 70,257]","[7.0, 125]","[7.7, 34,344]","[7.6, 24,345]","[7.8, 4,077]"
28,Monsters University,2013,Official Facebook|Official site|,USA,English,21 June 2013 (USA),Monsters Inc. 2,"Pixar Animation Studios - 1200 Park Avenue, Em...","$200,000,000 (estimated)","$82,429,469,23 June 2013",...,"[7.2, 172,729]","[7.1, 443]","[7.4, 72,257]","[7.1, 72,026]","[7.0, 13,569]","[7.5, 57,145]","[7.4, 131]","[7.6, 29,677]","[7.3, 18,646]","[7.3, 2,948]"
29,The Secret Life of Walter Mitty,2013,Official site [Japan]|Official Website,USA|UK,English|Spanish|Icelandic,25 December 2013 (USA),The Secret Life of Walter Mitty,"Los Angeles, California, USA","$90,000,000 (estimated)","$12,765,508,29 December 2013",...,"[7.3, 180,349]","[7.5, 121]","[7.5, 61,617]","[7.2, 87,280]","[7.1, 18,326]","[7.4, 45,159]","[7.1, 22]","[7.5, 18,736]","[7.3, 19,137]","[7.3, 3,592]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6042,Indie Director,2013,NaN,USA,English,25 May 2013 (USA),Indie Director - Actor's Cut,NaN,"$5,000 (estimated)",NaN,...,"[4.4, 25]",NaN,"[4.0, 3]","[3.9, 16]","[4.9, 6]","[1.0, 8]",NaN,"[1.0, 5]","[1.0, 3]",NaN
6043,Save Me,,Official Site,USA,English,2013 (USA),Mennyei tippek,NaN,NaN,NaN,...,"[5.9, 687]",NaN,"[6.2, 124]","[5.7, 308]","[5.9, 229]","[6.5, 546]",NaN,"[6.2, 108]","[6.5, 254]","[6.3, 157]"
6044,After Life,2013,Official site,USA,English,NaN,NaN,"Lake Mills, Iowa, USA","$400,000 (estimated)",NaN,...,"[4.2, 23]",NaN,"[3.0, 2]","[4.6, 10]","[4.5, 8]","[6.0, 5]",NaN,"[10.0, 1]",NaN,"[6.7, 3]"
6045,Pouco Mais de um Mês,2013,Official site,Brazil,Portuguese,January 2013 (Brazil),About a Month,NaN,NaN,NaN,...,"[7.1, 26]",NaN,"[6.6, 10]","[7.3, 13]","[4.3, 3]","[8.5, 2]",NaN,"[10.0, 1]",NaN,"[7.0, 1]"
6046,Casting,2013,Official site [Spain],Spain,Spanish,22 November 2013 (Spain),NaN,NaN,NaN,NaN,...,"[6.0, 26]",NaN,"[6.7, 3]","[5.9, 15]","[5.7, 8]","[10.0, 2]",NaN,NaN,"[10.0, 2]",NaN
6047,Zach Stone Is Gonna Be Famous,,NaN,USA,English,2 May 2013 (USA),Zach Stone bedzie slawny,NaN,NaN,NaN,...,"[8.3, 1,049]","[8.8, 4]","[8.6, 577]","[7.8, 311]","[7.4, 67]","[8.1, 339]",NaN,"[8.4, 222]","[7.7, 76]","[6.0, 16]"
6048,Tin & Tina,2013,Official site,Spain,Spanish|English,April 2013 (Spain),NaN,NaN,"$35,000 (estimated)",NaN,...,"[7.1, 23]",NaN,"[7.2, 4]","[7.0, 15]","[6.3, 3]","[5.2, 4]",NaN,"[8.0, 1]","[4.3, 3]",NaN
6049,Straight Down Low,2013,Official Facebook,USA,English,June 2013 (USA),NaN,NaN,NaN,NaN,...,"[7.2, 20]",NaN,"[8.1, 8]","[7.0, 8]","[6.7, 3]","[7.3, 6]",NaN,"[8.0, 2]","[10.0, 1]","[8.5, 2]"
6050,Edge of Dawn,2013,Official site|Official site,USA,English,2013 (USA),NaN,NaN,NaN,NaN,...,"[3.6, 20]",NaN,"[6.0, 1]","[4.6, 6]","[3.4, 12]","[5.4, 6]",NaN,NaN,"[2.0, 1]","[6.5, 4]"
6051,Le prochain film,2013,NaN,France,French,21 August 2013 (France),The Film to Come,NaN,NaN,NaN,...,"[6.0, 26]",NaN,"[6.0, 1]","[6.0, 6]","[6.0, 19]","[8.0, 1]",NaN,NaN,NaN,"[8.0, 1]"
6052,The Bucuresti Experiment,2013,NaN,Romania,Romanian,6 June 2013 (Romania),Experimentul Bucuresti,Romania,NaN,NaN,...,"[7.0, 18]",NaN,"[6.7, 3]","[7.4, 12]","[8.5, 2]","[9.3, 13]",NaN,"[10.0, 2]","[9.2, 8]","[3.0, 1]"
6053,Pajama Nightmare,2013,NaN,USA,English,26 March 2013 (USA),NaN,"Athens, Georgia, USA","$2,000 (estimated)",NaN,...,"[2.4, 25]",NaN,"[1.7, 3]","[2.3, 10]","[2.2, 9]",NaN,NaN,NaN,NaN,NaN
6054,My Atomic Aunt,2013,NaN,Germany,Japanese,8 March 2013 (Japan),Beyond the Wave,"Fukushima, Japan",NaN,NaN,...,"[7.3, 23]",NaN,"[6.7, 3]","[7.8, 11]","[6.7, 8]","[7.6, 5]",NaN,"[7.0, 1]","[6.0, 1]","[8.3, 3]"
6055,Horizonte,2013,Official site,Spain,Spanish,September 2013 (Portugal),Horizon,NaN,"EUR42,000 (estimated)",NaN,...,"[6.4, 24]",NaN,"[5.0, 2]","[6.4, 17]","[7.2, 4]","[6.0, 1]",NaN,NaN,"[6.0, 1]",NaN
6056,Adam,2013,NaN,Indonesia|Israel|USA,Hebrew,2013 (Israel),NaN,NaN,NaN,NaN,...,"[6.8, 24]",NaN,"[6.7, 6]","[6.9, 11]","[6.3, 6]","[5.2, 6]",NaN,"[6.8, 4]","[3.5, 2]",NaN
6057,This Way Out,2013,Official site|Official site,UK,English,28 June 2013 (USA),Vészkijárat,NaN,NaN,NaN,...,"[7.3, 21]",NaN,"[7.0, 2]","[7.8, 13]","[7.0, 6]","[7.2, 7]",NaN,"[7.5, 2]","[8.3, 3]","[9.0, 2]"
6058,Don't Call It A Comeback,2013,NaN,USA,English,NaN,NaN,NaN,NaN,NaN,...,"[6.1, 27]",NaN,"[6.2, 10]","[5.8, 13]","[6.7, 3]","[7.0, 2]",NaN,NaN,"[7.0, 1]","[7.0, 1]"
6059,Auschwitz on My Mind,2013,NaN,Israel|Poland|UK,Hebrew,2013 (Israel),Lizkor Ve Lo Lishkoakh,"Auschwitz-Birkenau Concentration Camp, Oswieci...",NaN,NaN,...,"[6.3, 20]",NaN,"[6.4, 5]","[6.8, 10]","[6.3, 3]","[6.1, 7]",NaN,"[7.3, 3]","[5.3, 3]","[5.0, 1]"
6060,La festa,2013,Official site,Italy,Italian,31 October 2013 (Italy),NaN,"Genova, Liguria, Italy","EUR200,000 (estimated)",NaN,...,"[4.8, 24]",NaN,"[6.0, 5]","[3.9, 9]","[6.9, 9]","[6.2, 5]",NaN,"[10.0, 1]","[8.5, 2]","[5.5, 2]"
6061,En pilgrims död,,Sveriges Television (SVT) [Sweden],Sweden|Denmark|Norway|Finland,Swedish|English|Spanish,13 January 2013 (Sweden),Death of a Pilgrim,"Stockholm, Stockholms län, Sweden",NaN,NaN,...,"[7.0, 566]","[7.0, 1]","[6.7, 61]","[6.9, 240]","[7.2, 228]","[6.9, 110]",NaN,"[7.2, 13]","[6.8, 32]","[6.9, 58]"
6062,How to Live with Your Parents For the Rest of ...,,NaN,USA,English,3 April 2013 (USA),How to Live With Your Parents,NaN,NaN,NaN,...,"[5.3, 883]",NaN,"[5.9, 215]","[5.2, 424]","[5.1, 204]","[6.4, 673]","[9.0, 1]","[6.3, 195]","[6.3, 317]","[6.6, 116]"
6063,I kærlighedens navn,2013,NaN,Denmark,English,15 February 2013 (Denmark),Just the Right Amount of Violence,"Los Angeles, California, USA","EUR1,200,000 (estimated)",NaN,...,"[5.4, 23]",NaN,"[6.2, 4]","[5.8, 16]","[5.3, 3]","[5.0, 4]",NaN,"[5.0, 2]","[8.0, 1]",NaN
6064,Weekendfar,2013,NaN,Denmark,Danish,5 September 2013 (Denmark),Wochenend-Papa,NaN,NaN,NaN,...,"[6.5, 26]",NaN,"[6.5, 5]","[6.1, 17]","[8.0, 3]","[9.0, 1]",NaN,NaN,"[9.0, 1]",NaN
6065,Left,2013,Official site,Ireland|UK,English,21 June 2013 (UK),NaN,NaN,NaN,NaN,...,"[6.3, 20]",NaN,"[7.4, 5]","[6.4, 12]","[4.7, 3]","[6.5, 4]",NaN,"[6.5, 2]","[6.5, 2]",NaN
6066,Algonquin,2013,Official Facebook|Official site,Canada,English,24 August 2013 (Canada),Losing My Edge,"North Bay, Ontario, Canada",NaN,NaN,...,"[6.4, 19]",NaN,"[10.0, 1]","[6.3, 10]","[5.6, 7]","[6.5, 5]",NaN,"[10.0, 2]","[6.0, 1]","[5.0, 1]"
6067,Shanidâru no hana,2013,NaN,Japan,Japanese,20 July 2013 (Japan),Flower of Shanidar,NaN,NaN,NaN,...,"[5.9, 19]",NaN,"[4.7, 3]","[5.9, 11]","[5.8, 4]","[5.8, 8]",NaN,"[6.0, 1]","[5.7, 5]","[10.0, 1]"
6068,Mr & Mrs Murder,,NaN,Australia,English,20 February 2013 (Australia),NaN,"Melbourne, Victoria, Australia",NaN,NaN,...,"[7.1, 269]",NaN,"[7.0, 31]","[7.1, 85]","[7.1, 141]","[7.4, 305]",NaN,"[7.4, 36]","[6.7, 109]","[7.7, 141]"
6069,Zach Stone Is Gonna Be Famous,,NaN,USA,English,2 May 2013 (USA),Zach Stone bedzie slawny,NaN,NaN,NaN,...,"[8.3, 1,049]","[8.8, 4]","[8.6, 577]","[7.8, 311]","[7.4, 67]","[8.1, 339]",NaN,"[8.4, 222]","[7.7, 76]","[6.0, 16]"
6070,Unter Menschen,2013,Official site [Germany],Germany|Austria|Hungary,German,21 March 2013 (Germany),Redemption Impossible,"Gänserndorf, Lower Austria, Austria",NaN,NaN,...,"[7.5, 23]",NaN,"[6.0, 1]","[7.3, 14]","[8.1, 8]","[8.0, 5]",NaN,"[8.0, 2]","[8.0, 3]",NaN
6071,Forty Years from Yesterday,2013,Official Facebook|Official site,USA,English,16 June 2013 (USA),NaN,"King City, California, USA",NaN,NaN,...,"[5.1, 22]",NaN,"[8.0, 1]","[4.6, 13]","[5.9, 6]","[7.8, 4]",NaN,NaN,"[10.0, 2]","[5.5, 2]"

In [68]:
data_managable.keys();

In [69]:
data_managable.to_csv(os.path.join(file_path,'data_post_process.csv'));

# Concating Catalog

In [70]:
crawled_page_expanded = pd.read_csv(os.path.join(file_path,'data_post_process.csv'))

In [71]:
crawled_page_expanded.drop(['Unnamed: 0'], axis=1,inplace = True )

In [72]:
final_datatable = pd.concat([crawled_catalog[:len(crawled_page_expanded)], crawled_page_expanded],axis=1 )

In [73]:
final_datatable.to_csv(os.path.join(file_path,'final_table_to_start_cleaning.csv'))